<section class="Fifth-block full-page">
    <div class="page-identifier">
        <span>Audi SQ7</span>
    </div>
    <div class="Fifth-block__controls">
        <div class="numeration">
            <span class="Fifth-block__counter">1</span>
            <span class="Fifth-block__divider">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1.552cm" height="1.552cm">
                    <path  fill="rgb(255, 255, 255)"
                           d="M42.293,0.293 L43.707,1.707 L1.707,43.707 L0.293,42.293 L42.293,0.293 Z"/>
                </svg>
            </span>
            <sub>3</sub>
        </div>
        <div class="Fifth-block__left-arrow">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="0.423cm" height="0.635cm">
                <g>
                    <path fill="#777"
                          d="M12.003,15.825 L9.996,17.990 L2.093,11.083 L2.003,11.162 L1.317,10.405 L-0.003,9.251 L0.135,9.101 L-0.003,8.948 L1.635,7.484 L2.003,7.086 L2.042,7.119 L9.996,0.010 L12.003,2.224 L4.310,9.101 L12.003,15.825 Z"/>
                </g>
            </svg>
        </div>
        <div class="Fifth-block__right-arrow">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="0.423cm" height="0.635cm">
                <path fill="#777"
                      d="M11.865,9.101 L12.003,9.251 L10.683,10.405 L9.997,11.162 L9.907,11.083 L2.003,17.990 L-0.004,15.825 L7.690,9.101 L-0.004,2.224 L2.003,0.010 L9.958,7.119 L9.997,7.086 L10.366,7.484 L12.003,8.948 L11.865,9.101 Z"/>
            </svg>
        </div>
    </div>
    <div class="Fifth-block__vertical-controls">
        <div class="item">
            <span>Двигатель V8-битурбо</span>
        </div>
        <div class="item">
            <span>Динамика</span>
        </div>
        <div class="item">
            <span>Динамика</span>
        </div>
    </div>
    <div class="Fifth-block__slider">
        <div class="item first-slide sq7">
            <img src="css/images/sq7-engine.png" alt="SQ7 engine photo">
            <div class="first-slide__left-item">
                <div class="info">
                    <p class="info__first-paragraph">
                        Двигатель: V8-битурбо с электрокомпрессором, объем двигателя: 3956 см мощность: 320 кВт (435 л.с.)
                        • макс. Крутящий момент: 900 Нм при 1000-3250/мин макс. скорость: 250 км/ч разгон от 0 до 100 км/ч:
                        4,8 с привод: полный, 8-ступечатая автоматическая коробка передач.
                        Внешняя скоростная характеристика двигателя V8 4.0 TDI
                    </p>
                </div>
                <div class="quantitative-characteristics">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 420.66 193.02">
                        <g>
                            <path class="cls-1" d="M55.75,43.21l-2-1.82L40.9,55.25c.1,1.59.41,3.48-.89,4.46l.21.2Z"/>
                            <path class="cls-1" d="M13.86,48.13,5,11.65l-2.6.63L12.29,53l1.27-.31C13.91,50.89,12.76,49.2,13.86,48.13Z"/>
                            <path class="cls-1" d="M8.37,0a8.37,8.37,0,1,0,8.37,8.37A8.37,8.37,0,0,0,8.37,0Zm0,10.84a2.47,2.47,0,1,1,2.47-2.47A2.47,2.47,0,0,1,8.37,10.84Z"/>
                            <path class="cls-1" d="M51.13,24.41a10,10,0,1,0,10,10A10,10,0,0,0,51.13,24.41Zm0,13a3,3,0,1,1,3-3A3,3,0,0,1,51.13,37.4Z"/>
                            <rect class="cls-1" x="9.93" y="13.79" width="44.11" height="2.67" transform="translate(11.85 -13.97) rotate(30)"/>
                            <path class="cls-1" d="M27.34,37.22A15.07,15.07,0,1,0,42.41,52.3,15.07,15.07,0,0,0,27.34,37.22Zm0,28.84A13.76,13.76,0,1,1,41.1,52.3,13.76,13.76,0,0,1,27.34,66.06Z"/>
                            <path class="cls-1" d="M27.34,40.35A11.95,11.95,0,1,0,39.28,52.3,11.95,11.95,0,0,0,27.34,40.35Zm-.25,3.41h.56v2h-.56ZM21,52.67H19V52.1h2Zm.52-6L23,48l-.38.41L21.13,47Zm.72,12.22-.43-.36L23.09,57l.43.36Zm5.42,1.7h-.56v-2h.56Zm-.32-4.8A3.46,3.46,0,1,1,30.8,52.3,3.46,3.46,0,0,1,27.34,55.75Zm5.39-10.18.43.36-1.37,1.61-.43-.36ZM33,58.07l-1.4-1.29.38-.41,1.4,1.29Zm.8-5.41V52.1h2v.56Z"/>
                            <text class="cls-2" transform="translate(72.11 28.37)">характеристики двигателя</text>
                            <line class="cls-3" x1="72.11" y1="40.03" x2="420.66" y2="40.03"/>
                            <text class="cls-4" transform="translate(254.61 126.7)">макс. скорость</text>
                            <text class="cls-4" transform="translate(254.36 190.14)">расход топлива</text>
                            <text class="cls-4" transform="translate(73.36 190.14)">разгон за 4.8с</text>
                            <text class="cls-4" transform="translate(75.36 126.7)">двигатель</text>
                            <text class="cls-5" transform="translate(253.61 105.95)">250 км/ч.</text>
                            <text class="cls-5" transform="translate(254.61 169.2)">7,9 л/100км</text>
                            <text class="cls-6" transform="translate(74.36 168.7)">до 100 км/ч.</text>
                            <text class="cls-5" transform="translate(74.36 105.62)">V8 4.0 TDI</text>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="first-slide__right-item">
                <svg class="productivity" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 442.65 276.09">
                    <defs>
                        <linearGradient id="main-gradient" x1="172.92" y1="241" x2="172.92" y2="77.48" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#dd1c51" stop-opacity="0"/>
                            <stop offset="0.02" stop-color="#dd1c51" stop-opacity="0.04"/>
                            <stop offset="0.17" stop-color="#dd1c51" stop-opacity="0.29"/>
                            <stop offset="0.32" stop-color="#dd1c51" stop-opacity="0.51"/>
                            <stop offset="0.46" stop-color="#dd1c51" stop-opacity="0.69"/>
                            <stop offset="0.6" stop-color="#dd1c51" stop-opacity="0.82"/>
                            <stop offset="0.74" stop-color="#dd1c51" stop-opacity="0.92"/>
                            <stop offset="0.88" stop-color="#dd1c51" stop-opacity="0.98"/>
                            <stop offset="1" stop-color="#dd1c51"/>
                        </linearGradient>
                        <linearGradient id="additional-gradient" x1="174.1" y1="241.74" x2="174.1" y2="99.45" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#f06c91" stop-opacity="0"/>
                            <stop offset="0.14" stop-color="#f06c91" stop-opacity="0.18"/>
                            <stop offset="0.37" stop-color="#f06c91" stop-opacity="0.47"/>
                            <stop offset="0.58" stop-color="#f06c91" stop-opacity="0.7"/>
                            <stop offset="0.77" stop-color="#f06c91" stop-opacity="0.86"/>
                            <stop offset="0.91" stop-color="#f06c91" stop-opacity="0.96"/>
                            <stop offset="1" stop-color="#f06c91"/>
                        </linearGradient>
                    </defs>
                    <g>
                        <path class="cls-1" d="M5.18,279.94"/>
                        <line class="cls-2" x1="1.78" y1="137.95" x2="346.43" y2="137.95"/>
                        <line class="cls-2" x1="1.78" y1="117.95" x2="346.43" y2="117.95"/>
                        <line class="cls-2" x1="1.78" y1="99.95" x2="346.43" y2="99.95"/>
                        <line class="cls-2" x1="1.78" y1="80.95" x2="346.43" y2="80.95"/>
                        <line class="cls-2" x1="1.65" y1="158.02" x2="346.3" y2="158.02"/>
                        <line class="cls-2" x1="1.29" y1="178.68" x2="345.94" y2="178.68"/>
                        <line class="cls-2" x1="1.29" y1="199.57" x2="345.94" y2="199.57"/>
                        <line class="cls-2" x1="0.65" y1="220.46" x2="345.3" y2="220.46"/>
                        <line class="cls-2" x1="0.6" y1="241" x2="345.24" y2="241"/>
                        <path class="cls-3" d="M1.93,108.23s145-19.11,171.64-1c0,0,95,71.29,172.7,72.63"/>
                        <path class="cls-4" d="M.42,241S112.82,75,215.54,78.7a91.57,91.57,0,0,0,9.85-.11c13.52-1,54.39-2.88,120,2.75V241Z"/>
                        <path class="cls-1" d="M.42,240.67S104.4,79.34,215.54,78.36,279,77.44,345.42,81"/>
                        <circle class="cls-5" cx="220.12" cy="79.35" r="9.4"/>
                        <circle class="cls-6" cx="220.12" cy="79.35" r="2.7"/>
                        <text class="cls-7" transform="translate(95.37 91.02)">
                            макс. крут. момент
                        </text>
                        <text class="cls-7" transform="translate(169.37 71.62)">
                            макс. мощность
                        </text>
                        <text class="cls-7" transform="translate(4.7 258.02)">
                            <tspan xml:space="preserve">0            1к            2к             3к             4к             5к             6к</tspan>
                        </text>
                        <text class="cls-7" transform="translate(354.37 82.02)">
                            900
                            <tspan x="0" y="20">800</tspan>
                            <tspan x="0" y="40">700</tspan>
                            <tspan x="0" y="60">600</tspan>
                            <tspan x="0" y="80">500</tspan>
                            <tspan x="0" y="100">400</tspan>
                            <tspan x="0" y="120">300</tspan>
                            <tspan x="0" y="140">200</tspan>
                            <tspan x="0" y="160">100</tspan>
                        </text>
                        <text class="cls-7" transform="translate(394.63 246.73) rotate(-90)">
                            крутящий момент
                        </text>
                        <text class="cls-7" transform="translate(1.73 273.69)">
                            скорость двигателя
                        </text>
                        <text class="cls-7" transform="translate(23.73 49.69)">
                            мощность
                        </text>
                        <text class="cls-7" transform="translate(23.73 65.69)">
                            крутящий момент
                        </text>
                        <rect class="cls-16" x="1.98" y="41.02" width="10.99" height="10.99"/>
                        <rect class="cls-17" x="1.98" y="57.02" width="10.99" height="10.99"/>
                        <line class="cls-18" x1="1.98" y1="31.35" x2="367.03" y2="31.35"/>
                        <text class="cls-19" transform="translate(1.98 18.69)">
                            производительность двигателя
                        </text>
                        <rect class="cls-24" x="394.63" width="48.02" height="8.85"/>
                        <rect class="cls-24" x="409.99" y="34.56" width="17.3" height="6.58" transform="translate(456.49 -380.79) rotate(90)"/>
                        <rect class="cls-24" x="394.63" y="11.54" width="48.02" height="4.43"/>
                        <path class="cls-24" d="M394.63,18.65V27.5H402V26.29h33.4V27.5h7.24V18.65Zm24,6.74A2.31,2.31,0,1,1,421,23.08,2.31,2.31,0,0,1,418.64,25.39Z"/>
                        <path class="cls-24" d="M414.12,55.66a4.62,4.62,0,0,1,9,0h5V46.5h-19v9.16Z"/>
                        <path class="cls-24" d="M423.16,57.54a4.62,4.62,0,0,1-9,0h-5v7.91h19V57.54Z"/>
                        <path class="cls-25" d="M1.93,107.74s156.27-18,171.64-1a13.38,13.38,0,0,0,2.1,2c11.82,8.46,96.08,66.94,170.6,70.65v62.33H1.93Z"/>
                        <circle class="cls-5" cx="140.18" cy="100.45" r="9.4"/>
                        <circle class="cls-6" cx="140.18" cy="100.45" r="2.7"/>
                    </g>
                </svg>
            </div>
        </div>
        <div class="item second-slide sq7">
            <div class="container">
                <div class="shaped"></div>
                <div class="content">
                    <h4>Динамика в впечатляющем виде</h4>
                    <p class="first-paragraph">
                        От 0 до 100 км/ч за 4,8 секунды с 4,0-литровым двигателем TDI мощностью 320 кВт (435 л.с.) – двигатель рабо-
                        тает в одной связке с мощными партнерами с целью достижения таких результатов. Впервые в истории авто-
                        мобильного производства используется компрессор с электроприводом (EPC). Двигатель V8 сконструиро-
                        ван совершенно заново для достижения баланса между мощностью и эффективностью. Он черпает
                        свою мощность из рабочего объема 3956 см3. Максимальный крутящий момент 900Нм достига-
                        ется при оборотах двигателя 1000 - 3250 1/мин.
                    </p>
                    <p class="second-paragraph">
                        Два турбокомпрессора заново созданного двигателя Twin-Turbo, приводимые в действие потоком выхлопных газов, работают по принципу последовательного турбонаддува: на малых и средних оборотах двигателя работает только один турбокомпрессор, а второй турбокомпрессор вклю-
                        чается при увеличении нагрузки. Турбокомпрессоры дополняют компрессор с электропри-
                        водом, предназначенный для подлинной динамики без "турбо-провала" на малых
                        оборотах двигателя.
                    </p>
                    <p class="third-paragraph">
                        Давление наддува, усиливаемое турбокомпрессором с электроприводом, не требует энергии выхлопных газов и может использоваться в любой момент ввиду отсутст-
                        вия обычных недостатков, присущих традиционному турбокомпрессору. Комп-
                        рессор обеспечивает двигатель энергией наддува, необходимого для дина-
                        мичного набора мощности, менее чем за 250 миллисекунд. Таким
                        образом, 8-цилиндровый двигатель набирает свою мощность без
                        ощутимого запоздания. Большое преимущество, особенно при
                        старте с места.
                    </p>
                </div>
            </div>
        </div>
        <div class="item third-slide sq7">
            <div class="heading">
                <span class="first-line">Заново сконструирована: коробка</span>
                <span class="second-line">переключения передач "tiptronic"</span>
            </div>
            <div class="bg-car-photo">
                <img src="css/images/sq7-new-tiptronic.jpg" alt="new tiptronic">
                <svg
                        class="new"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 630.591 86.93"
                >
                    <g>
                        <circle class="cls-1" cx="587.266" cy="43.465" r="8" fill="none" stroke-width="10" stroke="#de1c50"/>
                        <circle class="cls-2" cx="587.266" cy="43.465" r="19.65"/>
                        <circle class="cls-3" cx="587.266" cy="43.465" r="43.465"/>
                        <circle class="cls-4" cx="587.266" cy="43.465" r="31.6" fill="none" stroke-width="1"/>
                        <path class="cls-5" d="M74.49,53.66a31.53,31.53,0,1,0-61.43-10" transform="translate(543.6,0)"/>
                        <circle class="cls-6" cx="556.426" cy="40.265" r="3.485"/>
                        <line class="cls-7" x1="554" y1="40" x2="110" y2="0" />
                    </g>
                </svg>
                <div class="info-block">
                    <p>
                        Заново сконструированная 8-ступенчатая коробка переключения передач "tiptronic",
                        необычайно быстро и эффективно переключает передачи, а также позволяет водителю расслабиться при
                        движении на более высоких скоростях. При ее работе в тесной связке с полным приводом quattro®
                        и самоблокирующимся межосевым дифференциалом, мощность оптимально переносится на дорогу.
                        Опциональный пакет динамичного управления, охватывает три технологических модуля: спортивный дифференциал,
                        активную электромеханическую систему динамического контроля движения и рулевое управление всех колес.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fifth-block ends -->