<section class="sq7 First-block full-page">
    <div class="page-identifier">
        <span>Audi SQ7</span>
    </div>
    <div class="main-text">
        <h4>Восхитителен во всех отношениях</h4>
        <p>
            Новый масштаб доминирования: с мощностью 320 кВт (435 л.с.) и крутящим моментом 900 Нм,
            новый Audi SQ7 TDI является самым мощным дизельным автомобилем класса SUV на рынке.
            Он разгоняется от 0 до 100 км/ч за 4,8 секунды и достигает скорости 250 км/ч.
            Многочисленные элементы дизайна, придают впечатляющему внешнему виду SQ7 TDI экспрессивности.
            Просторный салон приглашает расслабиться и при необходимости вмещает пять или семь человек.
        </p>
    </div>
    <div class="car-container">
        <img src="css/images/sq7-360-1.png" alt="">
        <span>SQ7</span>
        <div class="left-arrow"></div>
        <div class="right-arrow"></div>
        <div class="hand">
            <div class="previous-frame">«</div>
            <div class="next-frame">«</div>
        </div>
    </div>
    <div class="play">360&nbsp;<sup>°</sup></div>
    <div class="stop">360&nbsp;<sup>°</sup></div>
    <div class="threesixty car">
        <div class="spinner">
            <span>0%</span>
        </div>
        <ol class="threesixty_images"></ol>
    </div>
</section>
<!-- First block ends -->