<section class="Fourth-block full-page">
    <div class="page-identifier">
        <span>Audi SQ7</span>
    </div>
    <div class="Fourth-block__controls">
        <div class="numeration">
            <span class="Fourth-block__counter">1</span>
            <span class="Fourth-block__divider">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1.552cm" height="1.552cm">
                    <path  fill="rgb(255, 255, 255)"
                           d="M42.293,0.293 L43.707,1.707 L1.707,43.707 L0.293,42.293 L42.293,0.293 Z"/>
                </svg>
            </span>
            <sub>4</sub>
        </div>
        <div class="Fourth-block__left-arrow">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="0.423cm" height="0.635cm">
                <g>
                    <path fill="#777"
                          d="M12.003,15.825 L9.996,17.990 L2.093,11.083 L2.003,11.162 L1.317,10.405 L-0.003,9.251 L0.135,9.101 L-0.003,8.948 L1.635,7.484 L2.003,7.086 L2.042,7.119 L9.996,0.010 L12.003,2.224 L4.310,9.101 L12.003,15.825 Z"/>
                </g>
            </svg>
        </div>
        <div class="Fourth-block__right-arrow">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="0.423cm" height="0.635cm">
                <path fill="#777"
                      d="M11.865,9.101 L12.003,9.251 L10.683,10.405 L9.997,11.162 L9.907,11.083 L2.003,17.990 L-0.004,15.825 L7.690,9.101 L-0.004,2.224 L2.003,0.010 L9.958,7.119 L9.997,7.086 L10.366,7.484 L12.003,8.948 L11.865,9.101 Z"/>
            </svg>
        </div>
    </div>
    <div class="Fourth-block__vertical-controls">
        <div class="item">
            <span>Интерьер sq7</span>
        </div>
        <div class="item">
            <span>технологии</span>
        </div>
        <div class="item">
            <span>технологии</span>
        </div>
        <div class="item">
            <span>технологии</span>
        </div>
    </div>
    <div class="Fourth-block__slider">
        <!-- First slide -->
        <div class="item first-slide sq7">
            <img class="first-image" src="css/images/sq7-driver-seat.jpg" alt="driver seat">
            <img class="second-image" src="css/images/sq7-tiptronic.jpg" alt="tiptronic">
            <img class="third-image" src="css/images/sq7-back-seats.jpg" alt="back seats">
            <div class="text">
                <h4>
                    <span class="first-line">Роскошное пространство</span>
                    <br>
                    <span class="second-line">позволяет Вам расслабиться</span>
                </h4>
                <p class="first-paragraph">
                    Интерьер SQ7 впечатляет своим простором и высоким качеством исполнения. Выбирайте спортивные сиденья,
                    поставляемые в базовой комплектации, или опционально доступные спортивные сиденья "Plus".
                </p>
                <p class="second-paragraph">
                    В зависимости от потребностей, в SQ7 TDI могут удобно разместиться от пяти до семи человек. Кроме того,
                    удобство дополнено исключительной роскошью. Во всем освещении интерьера используется светодиодная
                    технология.
                </p>
                <p class="third-paragraph">
                    В дополнение к опциональному пакету освещения, доступна подсветка внутреннего пространства. Она
                    охватывает освещение порогов дверей и дополнительное освещение контура центральной консоли. В самой
                    высокой версии освещение интерьера может устанавливаться поступенчато: используя систему MMI, можно
                    установить один из нескольких профилей освещения и, в зависимости от обстоятельств, регулировать
                    освещение, используя 32 ступени.
                </p>
            </div>
        </div>
        <!-- First slide ends -->
        <!-- Second slide -->
        <div class="item second-slide sq7">
            <div class="heading">
                <span class="first-line">
                    Многочисленные варианты инновационного
                </span>
                <span class="second-line">
                    оборудования, характеризуют Ваш личный Audi SQ7 TDI
                </span>
            </div>
            <h4>Выбор технологий</h4>
            <div class="main-content">
                <div class="blocks left-block">
                    <img src="css/images/sq7-side-view2.jpg" alt="side view">
                    <h5>В городе, за городом и парковка автомобиля:</h5>
                    <p class="first-paragraph">
                        Cистемы помощи водителю Сохраняйте спокойствие
                        в каждой поездке. Предложение SQ7 TDI охватывает 24 системы помощи водителю.
                        Поэтому Вы можете путешествовать безопасно, экономично и комфортно.
                    </p>
                    <p class="second-paragraph">
                        Система помощи при движении в заторе и парковочные ассистенты являются лишь двумя из опциональных
                        систем помощи водителю, которые обеспечивают лучшую видимость и комфорт.
                    </p>
                </div>
                <div class="blocks central-block">
                    <img src="css/images/sq7-free-space.jpg" alt="interior free space">
                    <h5>Простор на каждом сидячем месте:</h5>
                    <p class="first-paragraph">
                        Концепция использования пространства. Как и в каждом Q7, в автомобилях SQ7 TDI
                        также находит применение концепция гибкого использования пространства. При необходимости в автомобиле
                        могут удобно расположиться пять или семь человек.
                    </p>
                    <p class="second-paragraph">
                        В базовой комплектации во втором ряду сидений имеется спинка из трех частей с отдельно складываемыми сегментами.
                        Опционально доступные сиденья третьего ряда складываются с помощью электропривода.
                    </p>
                </div>
                <div class="blocks right-block">
                    <img src="css/images/sq7-moving.jpg" alt="sq7 moving">
                    <h5>
                        Сбалансированность до самого предела: комфортабельность езды
                    </h5>
                    <p class="first-paragraph">
                        Опциональная электромеханическая система динамического контроля движения обеспечивает стабильность и динамику,
                        а еще повышенную комфортабельность езды при преодолении поворотов. Система увеличивает точность рулевого
                        управления, обеспечивая еще более спортивную управляемость.
                    </p>
                    <p class="second-paragraph">
                        Кроме того, 4,0-литровый двигатель TDI работает одной связке с другими мощными партнерами: заново
                        сконструированная 8-ступенчатая коробка переключения передач "tiptronic" впечатляет своей огромной
                        эффективностью и быстротой переключения передач, а полный привод quattro® передает всю мощность на дорогу.
                    </p>
                </div>
            </div>
        </div>
        <!-- Second slide ends -->
        <!-- Third slide -->
        <div class="item third-slide sq7">
            <h4>Выбор технологий</h4>
            <div class="main-content">
                <div class="blocks left-block">
                    <img src="css/images/sq7-decoration.jpg" alt="interior decoration">
                    <h5>Парные декоративные вставки</h5>
                    <p class="first-paragraph">
                        Истинной ключевой особенностью интерьера SQ7 TDI, обеспечивающей многочисленные комбинации
                        привлекательной отделки, является, например, как изображено здесь, сочетание сатинированного
                        алюминия "Sono" вверху с алюминием и древесиной "Beaufort" снизу.
                    </p>
                </div>
                <div class="blocks central-block">
                    <img src="css/images/sq7-mmi-touch.jpg" alt="mmi touch">
                    <h5>MMI Touch</h5>
                    <p class="first-paragraph">
                        Настройки автомобиля, телефон и медиа. А также опционально доступная навигация и Audi connect.
                        Все происходит легко и гладко, пользуясь инновационной системой MMI Touch.
                        А также удобно – благодаря большой сенсорной поверхности.
                    </p>
                </div>
                <div class="blocks right-block">
                    <img src="css/images/sq7-sound-system.jpg" alt="sound system">
                    <h5>
                        Bang & Olufsen Advanced Sound System c 3D-звучанием
                    </h5>
                    <p class="first-paragraph">
                        Акустическая система с эффектом объемного 3D-звука благодаря дополнительным динамикам в передних стойках,
                        динамикам средних частот и технологии Symphoria; 23-ти канальный усилитель; 23 динамика, включая сабвуфер;
                        суммарная мощность свыше 1920 Вт; динамическая компенсация дорожных шумов
                    </p>
                </div>
            </div>
        </div>
        <!-- Third slide ends -->
        <!-- Fourth slide -->
        <div class="item fourth-slide sq7">
            <h4>Выбор технологий</h4>
            <div class="main-content">
                <div class="blocks left-block">
                    <img src="css/images/sq7-virtual-cockpit.jpg" alt="Audi virtual cockpit">
                    <h5>Audi virtual cockpit</h5>
                    <p class="first-paragraph">
                        Управляйте ьногочисленными Функциями и сервисами MMI c помощью виртуальной приборной панели,
                        расположенной на оптимальной вісоте в поле зрения водителя. Вы можете выбрать между двумя режимами:
                        классическим и прогрессивным – для отображения важной для водителя информации в великолепном разрешении.
                    </p>
                </div>
                <div class="blocks central-block">
                    <img src="css/images/sq7-panoramic-view.jpg" alt="panoramic roof">
                    <h5>Панорамная крыша</h5>
                    <p class="first-paragraph">
                        Состоит из двух частей, электропривод подъема и открывания передней части, тонированное стекло.
                        Солнцезащитная шторка с электроприводом.
                    </p>
                    <p class="second-paragraph">
                        Функция комфортного закрывании/открывания снаружи при дистанционном запирании центрального замка.
                        Панорамная крыша наполняет салон светом и эффективно обеспечивает приток свежего воздуха.
                    </p>
                </div>
                <div class="blocks right-block">
                    <img src="css/images/sq7-details.jpg" alt="details">
                    <h5>
                        Величина раскрывается в деталях
                    </h5>
                    <p class="first-paragraph">
                        Трехмерные передние фары SQ7 TDI красуются световым изображением двойной стрелы.
                        Светодиодные передние фары поставляются в базовой комплектации. Матричные светодиодные
                        передние фары Audi доступны опционально.
                    </p>
                    <p class="second-paragraph">
                        Весь световой поток матричной светодиодной передней фары создают 30 отдельных светодиодов,
                        использующих три рефлектора. Дорожно-транспортная ситуация анализируется с помощью камеры,
                        оборудованной во внутреннем зеркале заднего вида. В зависимости от ситуации, светодиоды затемняются,
                        включаются или выключаются.
                    </p>
                    <p class="third-paragraph">
                        Так достигаются многочисленные варианты распределения света, благодаря которым дорога превосходно
                        освещается в любой дорожно-транспортной ситуации.
                    </p>
                </div>
            </div>
        </div>
        <!-- Fourth slide ends -->
    </div>
</section>
<!-- Fourth block ends -->