<section class="Test-drive-block full-page" id="test-drive">
    <div class="page-identifier">
        <span>Audi SQ7</span>
    </div>
    <div class="page-identifier-bg"></div>
    <div class="video-container">
        <video src="videos/sq7_duel.mp4" poster="css/images/sq7-duel-poster.jpg"></video>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
            <circle class="inner-circle" cx="50%" cy="50%" r="23" fill="none" stroke-width="46"/>
            <circle class="inner-circle__outline" cx="100" cy="100" r="45.6" />
            <path class="play" d="M65,46.5L39,63V30Z" transform="translate(55 55)" />
            <path class="pause" d="M39,36h4V57H39V36Zm11,0h4V57H50V36Z" transform="translate(55 55)" />
            <circle class="big-circle__outline" cx="100" cy="100" r="80" />
        </svg>
    </div>
    <div class="heading">
        Дуэль в превосходной<br>степени
    </div>
    <div class="info">
        <p>
            Новый Audi TDI SQ7 против Alpha Jet Red Bull. 435 л.с. против 10600 л.с..
            Но внедорожник Audi разгоняется до 100 км / ч - всего за 4,8 секунды.
            Достаточно ли это этого для чемпиона DTM, Майка Роккенфеллера, чтобы выиграть 300-метровую гонку?
        </p>
    </div>
    <div class="test-drive">Тест-драйв Нового SQ7 TDI</div>
    <button class="test-drive-button"><span>Запись</span></button>
    <div class="test-drive-form">
        <svg xmlns="http://www.w3.org/2000/svg" class="close-form" viewBox="0 0 17 16">
            <path class="cls-1" d="M1.573,0.006L0.43,1.109l15.432,14.9,1.143-1.1Zm-1.579,14.9,1.143,1.1L16.57,1.109l-1.143-1.1Z"/>
        </svg>
        <h4>Запись на тест-драйв<br><span>Audi SQ7</span></h4>
        <form action="" method="">
            <div class="gender">
                <span>Ваш пол</span>
                <input type="radio" name="gender" value="male">
                <div class="male"></div>
                <input type="radio" name="gender" value="female">
                <div class="female"></div>
            </div>
            <div class="name">
                <input type="text" name="name" placeholder="Имя" required>
            </div>
            <div class="surname">
                <input type="text" name="surname" placeholder="Фамилия">
            </div>
            <div class="tel">
                <input type="tel" name="phone" placeholder="Телефон" required>
            </div>
            <div class="email">
                <input type="email" name="email" placeholder="E-mail">
            </div>
            <div class="agreement">
                <input type="checkbox" name="agreement" id="agreement" required>
                <div class="checkbox-mask"></div>
                <label for="agreement">Согласие на обработку персональных данных</label>
                <p>
                    Этим соглашением даю согласие на обработку моих вышеуказанных персональных данных
                    Оператору ООО “Ауди-Центр”. С целями: учета предоставленной информации в базах данных;
                    проведение статистических исследований, а также исследований, направленных на улучшение
                    качества продукции и услуг; проведение маркетинговых программ, в том числе, для продвижения
                    товаров, работ, услуг на рынке; чтобы я получал информацию о новых товарах и услугах Оператора
                    и партнеров операторов (например, с помощью отправки журналов, отправки приглашений на презентации
                    продуктов, сообщений о технических новшествах, будущих работах по сервисному обслуживанию, условия
                    покупки нового автомобиля и т.д.) с помощью различных средств связи.
                </p>
            </div>
            <button class="submit">
                <span>Отправить</span>
            </button>
        </form>
    </div>
</section>
<!-- Sixth block ends -->