<section class="Third-block full-page">
    <div class="page-identifier">
        <span>Audi SQ7</span>
    </div>
    <div class="Third-block__controls">
        <div class="numeration">
            <span class="Third-block__counter">1</span>
            <span class="Third-block__divider">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1.552cm" height="1.552cm">
                    <path  fill="rgb(255, 255, 255)"
                           d="M42.293,0.293 L43.707,1.707 L1.707,43.707 L0.293,42.293 L42.293,0.293 Z"/>
                </svg>
            </span>
            <sub>5</sub>
        </div>
        <div class="Third-block__left-arrow">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="0.423cm" height="0.635cm">
                <g>
                    <path fill="#777"
                          d="M12.003,15.825 L9.996,17.990 L2.093,11.083 L2.003,11.162 L1.317,10.405 L-0.003,9.251 L0.135,9.101 L-0.003,8.948 L1.635,7.484 L2.003,7.086 L2.042,7.119 L9.996,0.010 L12.003,2.224 L4.310,9.101 L12.003,15.825 Z"/>
                </g>
            </svg>
        </div>
        <div class="Third-block__right-arrow">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="0.423cm" height="0.635cm">
                <path fill="#777"
                      d="M11.865,9.101 L12.003,9.251 L10.683,10.405 L9.997,11.162 L9.907,11.083 L2.003,17.990 L-0.004,15.825 L7.690,9.101 L-0.004,2.224 L2.003,0.010 L9.958,7.119 L9.997,7.086 L10.366,7.484 L12.003,8.948 L11.865,9.101 Z"/>
            </svg>
        </div>
    </div>
    <div class="Third-block__vertical-controls">
        <div class="item">
            <span>Галерея</span>
        </div>
        <div class="item">
            <span>выразительные линии</span>
        </div>
        <div class="item">
            <span>мощь и строгогий стиль</span>
        </div>
        <div class="item">
            <span>Цвет кузова</span>
        </div>
        <div class="item">
            <span>габариты audi sq7 tdi</span>
        </div>
    </div>
    <div class="Third-block__slider sq7">
        <!-- First slide -->
        <div class="items first-slide sq7">
            <div class="photo-item">
                <img class="first-photo" src="css/images/sq7-forward_move.jpg" alt="sq7 forward move photo">
            </div>
            <div class="photo-item">
                <img class="second-photo" src="css/images/sq7-forward_view.jpg" alt="sq7 forward view photo">
            </div>
            <div class="photo-item">
                <img class="third-photo" src="css/images/sq7-backward_move.jpg" alt="sq7 backward move photo">
            </div>
            <div class="photo-item">
                <img class="fourth-photo" src="css/images/sq7-backward_view.jpg" alt="sq7 backward view photo">
            </div>
            <div class="underlay"></div>
        </div>
        <!-- First slide ends -->
        <!-- Second slide -->
        <div class="items second-slide sq7">
            <img src="css/images/sq7-backview.jpg" alt="sq7 backview">
            <div class="text">
                <h4>Более выразительные<br>линии</h4>
                <p class="first-paragraph">
                    Все линии и поверхности точны и выразительны,
                    а особо подчеркнуты длина автомобиля и солидная
                    общая концепция.
                </p>
                <p class="second-paragraph">
                    Характерный S-дизайн новой решетки радиатора наблюдается как на бамперах, так и на боковых воздухозаборниках, корпусах наружных зеркал
                    и алюминиевых вставках дверей. Система выхлопа
                    "Active Sound" перетекает в квадратные выхлопные трубы.
                </p>
            </div>
        </div>
        <!-- Second slide ends -->
        <!-- Third slide -->
        <div class="items third-slide sq7">
            <img class="first-image" src="css/images/sq7-side-view.jpg" alt="sq7 side view">
            <img class="second-image" src="css/images/sq7-front-view.jpg" alt="sq7 front view">
            <img class="third-image" src="css/images/sq7-panel-label.jpg" alt="sq7 panel label">
            <img class="fourth-image" src="css/images/sq7-panel-view.jpg" alt="sq7 quattro panel label">
            <div class="text">
                <p class="first-paragraph">
                    SQ7 TDI впечатляет великолепным сочетанием мощи и строгого стиля. Такие роскошные элементы как: наружные
                    зеркала заднего вида с алюминиевой отделкой, спортивные пороги и скульптурная форма решетки радиатора "single-frame".
                </p>
                <p class="second-paragraph">
                    Еще более спортивный характер автомобиля подчеркивают хромированные сдвоенные выхлопные трубы слева и справа,
                    а также выделяющиеся колесные арки.
                </p>
            </div>
        </div>
        <!-- Third slide ends -->
        <!-- Fourth slide -->
        <div class="items fourth-slide sq7">
            <div class="images">
                <div class="first-image">
                    <img src="css/images/sq7-tech.jpg" alt="technical support">
                </div>
                <img class="second-image" src="css/images/sq7-tech2.jpg" alt="technical overview">
            </div>
            <div class="text">
                <p class="first-paragraph">
                    Чтобы выбранный Вами цвет кузова автомобиля радовал Вас многие тысячи километров, в процессе окраски нам недостаточно работать
                    с миллиметровой точностью. Здесь нужна точность на микронном уровне.
                </p>
                <p class="second-paragraph">
                    Точность имеет первостепенное значение уже при нанесении грунта.
                    Первый слой лакокрасочного покрытия защищает кузов от коррозии
                    и старения. Наполнитель выравнивает мельчайшие неровности.
                </p>
                <p class="third-paragraph">
                    Благодаря его эластичности, лакокрасочное покрытие не повреждается при ударе камней.
                    Цвет появляется только при нанесении третьего слоя.
                </p>
                <p class="fourth-paragraph">
                    На четвертом этапе наносится защитный слой прозрачного лака,
                    защищающий от ультрафиолетовых лучей и сохраняющий блеск
                    и глубину цвета максимально долго.
                </p>
            </div>
        </div>
        <!-- Fourth slide ends -->
        <!-- Fifth slide -->
        <div class="items fifth-slide sq7">
            <img src="css/images/sq7-sizes.jpg" alt="SQ7 sizes">
            <div class="mask"></div>
        </div>
        <!-- Fifth slide ends -->
    </div>
</section>
<!-- Third block ends -->