<section class="Fifth-block full-page">
    <div class="page-identifier">
        <span>Audi Q7</span>
    </div>
    <div class="Fifth-block__controls">
        <div class="numeration">
            <span class="Fifth-block__counter">1</span>
            <span class="Fifth-block__divider">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1.552cm" height="1.552cm">
                    <path  fill="rgb(255, 255, 255)"
                           d="M42.293,0.293 L43.707,1.707 L1.707,43.707 L0.293,42.293 L42.293,0.293 Z"/>
                </svg>
            </span>
            <sub>9</sub>
        </div>
        <div class="Fifth-block__left-arrow">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="0.423cm" height="0.635cm">
                <g>
                    <path fill="#777"
                          d="M12.003,15.825 L9.996,17.990 L2.093,11.083 L2.003,11.162 L1.317,10.405 L-0.003,9.251 L0.135,9.101 L-0.003,8.948 L1.635,7.484 L2.003,7.086 L2.042,7.119 L9.996,0.010 L12.003,2.224 L4.310,9.101 L12.003,15.825 Z"/>
                </g>
            </svg>
        </div>
        <div class="Fifth-block__right-arrow">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="0.423cm" height="0.635cm">
                <path fill="#777"
                      d="M11.865,9.101 L12.003,9.251 L10.683,10.405 L9.997,11.162 L9.907,11.083 L2.003,17.990 L-0.004,15.825 L7.690,9.101 L-0.004,2.224 L2.003,0.010 L9.958,7.119 L9.997,7.086 L10.366,7.484 L12.003,8.948 L11.865,9.101 Z"/>
            </svg>
        </div>
    </div>
    <div class="Fifth-block__vertical-controls">
        <div class="item">
            <span>Двигатель 3.0 TDI</span>
        </div>
        <div class="item">
            <span>Двигатель 3.0 TFSI</span>
        </div>
        <div class="item">
            <span>Пневмоподвеска</span>
        </div>
        <div class="item">
            <span>Задняя подвеска</span>
        </div>
        <div class="item">
            <span>Ассистирущие системы</span>
        </div>
        <div class="item">
            <span>Ассистирущие системы город</span>
        </div>
        <div class="item">
            <span>Парковочный ассистент</span>
        </div>
        <div class="item">
            <span>3D sound</span>
        </div>
        <div class="item">
            <span>Операционные советы для MMI</span>
        </div>
    </div>
    <div class="Fifth-block__slider">
        <div class="item first-slide">
            <img src="css/images/TDI-engine.png" alt="TDI engine photo">
            <div class="first-slide__left-item">
                <h4>Динамика | Превосходство скорости</h4>
                <div class="info">
                    <h5>
                        Максимум удовольствия
                        <span>из каждой поездки</span>
                    </h5>
                    <p class="info__first-paragraph">
                        Присаживайтесь, пристегивайтесь, заводите двигатель. Куда бы Вы ни направились,
                        Вы будете двигаться с потрясающей динамикой, потому что Вы знаете, что с Audi Q7
                        открыты все пути.
                    </p>
                    <p class="info__second-paragraph">
                        Определите направление, стиль езды и скорость. И двигайтесь в нужном направлении
                        на автомобиле с увеличенной мощностью и при сниженном расходе топлива. И наслаждайтесь
                        при этом неограниченной свободой, ведь у Вас есть достаточный резерв мощности, чтобы
                        любая дорога дарила Вам радость.
                    </p>
                </div>
                <div class="quantitative-characteristics">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 420.66 193.02">
                        <g>
                            <path class="cls-1" d="M55.75,43.21l-2-1.82L40.9,55.25c.1,1.59.41,3.48-.89,4.46l.21.2Z"/>
                            <path class="cls-1" d="M13.86,48.13,5,11.65l-2.6.63L12.29,53l1.27-.31C13.91,50.89,12.76,49.2,13.86,48.13Z"/>
                            <path class="cls-1" d="M8.37,0a8.37,8.37,0,1,0,8.37,8.37A8.37,8.37,0,0,0,8.37,0Zm0,10.84a2.47,2.47,0,1,1,2.47-2.47A2.47,2.47,0,0,1,8.37,10.84Z"/>
                            <path class="cls-1" d="M51.13,24.41a10,10,0,1,0,10,10A10,10,0,0,0,51.13,24.41Zm0,13a3,3,0,1,1,3-3A3,3,0,0,1,51.13,37.4Z"/>
                            <rect class="cls-1" x="9.93" y="13.79" width="44.11" height="2.67" transform="translate(11.85 -13.97) rotate(30)"/>
                            <path class="cls-1" d="M27.34,37.22A15.07,15.07,0,1,0,42.41,52.3,15.07,15.07,0,0,0,27.34,37.22Zm0,28.84A13.76,13.76,0,1,1,41.1,52.3,13.76,13.76,0,0,1,27.34,66.06Z"/>
                            <path class="cls-1" d="M27.34,40.35A11.95,11.95,0,1,0,39.28,52.3,11.95,11.95,0,0,0,27.34,40.35Zm-.25,3.41h.56v2h-.56ZM21,52.67H19V52.1h2Zm.52-6L23,48l-.38.41L21.13,47Zm.72,12.22-.43-.36L23.09,57l.43.36Zm5.42,1.7h-.56v-2h.56Zm-.32-4.8A3.46,3.46,0,1,1,30.8,52.3,3.46,3.46,0,0,1,27.34,55.75Zm5.39-10.18.43.36-1.37,1.61-.43-.36ZM33,58.07l-1.4-1.29.38-.41,1.4,1.29Zm.8-5.41V52.1h2v.56Z"/>
                            <text class="cls-2" transform="translate(72.11 28.37)">характеристики двигателя</text>
                            <line class="cls-3" x1="72.11" y1="40.03" x2="420.66" y2="40.03"/>
                            <text class="cls-4" transform="translate(254.61 126.7)">макс. скорость</text>
                            <text class="cls-4" transform="translate(254.36 190.14)">расход топлива</text>
                            <text class="cls-4" transform="translate(73.36 190.14)">разгон за 6.3с</text>
                            <text class="cls-4" transform="translate(75.36 126.7)">двигатель</text>
                            <text class="cls-5" transform="translate(253.61 105.95)">234 км/ч.</text>
                            <text class="cls-5" transform="translate(254.61 169.2)">5,7 л/100км</text>
                            <text class="cls-6" transform="translate(74.36 168.7)">до 100 км/ч.</text>
                            <text class="cls-5" transform="translate(74.36 105.62)">3.0 TDI</text>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="first-slide__center-item">
                <h5>Audi drive select</h5>
                <p>
                    Система Audi drive select позволяет адаптировать ходовые качества Audi Q7
                    под свои потребности. Всего лишь одним нажатием на кнопку. Выберите
                    свой режим: более спортивный, более комфортный, более сбалансированный,
                    более экономичный или Ваш собственный индивидуальный режим.
                </p>
            </div>
            <div class="first-slide__right-item">
                <h5>Двигатель 3.0 TDI</h5>
                <p class="first-slide__right-item--first-paragraph">
                    Пятиместный Audi Q7 3.0 TDI (272 л.с). Расход топлива в смешанном цикле 5,6-6,1 л/100 км.
                    Выброс СО2 в смешанном цикле 149-159 г/км
                </p>
                <p class="first-slide__right-item--second-paragraph">
                    Этот дизельный двигатель V6 разрабатывался с принципиальным вниманием к снижению потерь
                    на внутреннее трение и достижению оптимальных температурных режимов.
                </p>
                <p class="first-slide__right-item--third-paragraph">
                    Двигатель 3.0 TDI отличается очень плавной работой, что отчасти стало возможным благодаря
                    установке регулируемых гидравлических опор. Они обеспечивают минимальный уровень вибраций
                    и проникновение шума в салон.
                </p>
                <p class="first-slide__right-item--fourth-paragraph">
                    Второй вариант дизельного двигателя 3.0 TDI, имеющий мощность 218 л. с. и крутящий момент
                    500 Н•м, будет предложен позже. Эта экономичная модель обеспечит еще более низкий выброс СО2,
                    устанавливая новые стандарты эффективности.
                </p>
                <svg
                    class="productivity"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 442.32 236.09">
                    <defs>
                        <linearGradient id="Безымянный_градиент_27" x1="173.28" y1="201.23" x2="173.28" y2="96.95" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#f16c92" stop-opacity="0"/>
                            <stop offset="0.07" stop-color="#f16c92" stop-opacity="0.12"/>
                            <stop offset="0.21" stop-color="#f16b92" stop-opacity="0.35"/>
                            <stop offset="0.35" stop-color="#f16b91" stop-opacity="0.55"/>
                            <stop offset="0.49" stop-color="#f16b91" stop-opacity="0.71"/>
                            <stop offset="0.62" stop-color="#f16a91" stop-opacity="0.84"/>
                            <stop offset="0.75" stop-color="#f16a91" stop-opacity="0.93"/>
                            <stop offset="0.88" stop-color="#f16a91" stop-opacity="0.98"/>
                            <stop offset="1" stop-color="#f16a91"/>
                        </linearGradient>
                        <linearGradient id="Безымянный_градиент_30" x1="173.77" y1="201" x2="173.77" y2="159.57" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#de1b50" stop-opacity="0"/>
                            <stop offset="0.02" stop-color="#de1b50" stop-opacity="0.04"/>
                            <stop offset="0.17" stop-color="#de1b50" stop-opacity="0.29"/>
                            <stop offset="0.32" stop-color="#de1b50" stop-opacity="0.51"/>
                            <stop offset="0.46" stop-color="#de1b50" stop-opacity="0.69"/>
                            <stop offset="0.6" stop-color="#de1b50" stop-opacity="0.82"/>
                            <stop offset="0.74" stop-color="#de1b50" stop-opacity="0.92"/>
                            <stop offset="0.88" stop-color="#de1b50" stop-opacity="0.98"/>
                            <stop offset="1" stop-color="#de1b50"/>
                        </linearGradient>
                    </defs>
                    <g>
                        <line class="cls-1" x1="1.45" y1="96.95" x2="346.1" y2="96.95"/>
                        <line class="cls-1" x1="1.32" y1="118.02" x2="345.97" y2="118.02"/>
                        <line class="cls-1" x1="0.96" y1="138.68" x2="345.61" y2="138.68"/>
                        <line class="cls-1" x1="0.96" y1="159.57" x2="345.61" y2="159.57"/>
                        <line class="cls-1" x1="0.32" y1="180.46" x2="344.97" y2="180.46"/>
                        <line class="cls-1" x1="0.27" y1="201" x2="344.92" y2="201"/>
                        <path class="cls-2" d="M.27,201.23s32.88-11.65,101.66-6.32c38.83,0,34-41.86,53.31-55.33,4.79-3.34,17.62-9.91,22-14,30.39-28.05,70.1-50,109.59,7,0,0,24.35,41.24,59.42,18.33v50.32Z"/>
                        <path class="cls-3" d="M1.4,201s45.25-30.75,110.75-16.25,74.5-61.5,166.75-2.25c0,0,31,21.25,67.25-12V201Z"/>
                        <path class="cls-4" d="M.27,201.23c11.67-7.46,58.44-27.64,110.87-16.39a63.46,63.46,0,0,0,9,1.35c67.64,4.61,64.25-61.78,161.77-1.23,0,0,29.46,16.44,63.13-14.23"/>
                        <circle class="cls-5" cx="219.79" cy="159.35" r="9.4"/>
                        <circle class="cls-6" cx="219.79" cy="159.35" r="2.7"/>
                        <path class="cls-7" d="M.27,202.85s51.24-15.11,92.06-8.2a43.42,43.42,0,0,0,25.93-3.26c7.16-3.4,14.38-9.31,17.88-19.57l8.9-19a32.41,32.41,0,0,1,3.94-6.4c2.74-3.46,7.12-8.49,9.78-9,7.14-2.85,20.1-13.49,25-17.49s44-39.82,79.82-12.33c0,0,19.06,15.51,25.51,28.34,0,0,22.8,36.11,57.21,15.05"/>
                        <circle class="cls-5" cx="233.55" cy="95.95" r="9.4"/>
                        <circle class="cls-6" cx="233.55" cy="95.95" r="2.7"/>
                        <text class="cls-8" transform="translate(183.04 85.02)">макс. крут. момент</text>
                        <text class="cls-8" transform="translate(169.04 151.62)">макс. мощность</text>
                        <text class="cls-8" transform="translate(4.37 218.02)"><tspan xml:space="preserve">0                     1к                     2к                     3к                     4к</tspan></text>
                        <text class="cls-8" transform="translate(354.04 102.02)">600<tspan x="0" y="20">500</tspan><tspan x="0" y="40">400</tspan><tspan x="0" y="60">300</tspan><tspan x="0" y="80">200</tspan><tspan x="0" y="100">100</tspan></text>
                        <text class="cls-8" transform="translate(394.3 206.73) rotate(-90)">крутящий момент</text>
                        <text class="cls-8" transform="translate(1.4 233.69)">скорость двигателя</text>
                        <text class="cls-8" transform="translate(23.4 49.69)">мощность</text>
                        <text class="cls-8" transform="translate(23.4 65.69)">крутящий момент</text>
                        <rect class="cls-17" x="1.65" y="41.02" width="10.99" height="10.99"/>
                        <rect class="cls-18" x="1.65" y="57.02" width="10.99" height="10.99"/>
                        <line class="cls-4" x1="1.65" y1="31.35" x2="366.71" y2="31.35"/>
                        <text class="cls-19" transform="translate(1.65 18.69)">производительность двигателя</text>
                        <rect class="cls-24" x="394.3" width="48.02" height="8.85"/>
                        <rect class="cls-24" x="409.66" y="34.56" width="17.3" height="6.58" transform="translate(456.16 -380.46) rotate(90)"/>
                        <rect class="cls-24" x="394.3" y="11.54" width="48.02" height="4.43"/>
                        <path class="cls-24" d="M394.3,18.65V27.5h7.38V26.29h33.4V27.5h7.24V18.65Zm24,6.74a2.31,2.31,0,1,1,2.31-2.31A2.31,2.31,0,0,1,418.31,25.39Z"/>
                        <path class="cls-24" d="M413.79,55.66a4.62,4.62,0,0,1,9,0h5V46.5h-19v9.16Z"/>
                        <path class="cls-24" d="M422.83,57.54a4.62,4.62,0,0,1-9,0h-5v7.91h19V57.54Z"/>
                    </g>
                </svg>
            </div>
        </div>
        <div class="item second-slide">
            <img src="css/images/TFSI-engine.png" alt="TFSI engine photo">
            <div class="second-slide__left-item">
                <h4>Динамика | Превосходство скорости</h4>
                <h5>Двигатель 3.0 TFSI</h5>
                <p>
                    Бензиновый двигатель 3.0 TFSI. Его механический компрессор, нагнетающий воздух во впускной
                    тракт, автоматически отключается при работе под частичными нагрузками. Эта технология вносит
                    свой вклад в снижение расхода топлива до 7,7 л/100 км при измерениях по циклу NEDC, что
                    соответствует выбросам CО2 в количестве 179 г/км.
                </p>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 420.66 193.02">
                    <g>
                        <path class="cls-1" d="M55.75,43.21l-2-1.82L40.9,55.25c.1,1.59.41,3.48-.89,4.46l.21.2Z"/>
                        <path class="cls-1" d="M13.86,48.13,5,11.65l-2.6.63L12.29,53l1.27-.31C13.91,50.89,12.76,49.2,13.86,48.13Z"/>
                        <path class="cls-1" d="M8.37,0a8.37,8.37,0,1,0,8.37,8.37A8.37,8.37,0,0,0,8.37,0Zm0,10.84a2.47,2.47,0,1,1,2.47-2.47A2.47,2.47,0,0,1,8.37,10.84Z"/>
                        <path class="cls-1" d="M51.13,24.41a10,10,0,1,0,10,10A10,10,0,0,0,51.13,24.41Zm0,13a3,3,0,1,1,3-3A3,3,0,0,1,51.13,37.4Z"/>
                        <rect class="cls-1" x="9.93" y="13.79" width="44.11" height="2.67" transform="translate(11.85 -13.97) rotate(30)"/>
                        <path class="cls-1" d="M27.34,37.22A15.07,15.07,0,1,0,42.41,52.3,15.07,15.07,0,0,0,27.34,37.22Zm0,28.84A13.76,13.76,0,1,1,41.1,52.3,13.76,13.76,0,0,1,27.34,66.06Z"/>
                        <path class="cls-1" d="M27.34,40.35A11.95,11.95,0,1,0,39.28,52.3,11.95,11.95,0,0,0,27.34,40.35Zm-.25,3.41h.56v2h-.56ZM21,52.67H19V52.1h2Zm.52-6L23,48l-.38.41L21.13,47Zm.72,12.22-.43-.36L23.09,57l.43.36Zm5.42,1.7h-.56v-2h.56Zm-.32-4.8A3.46,3.46,0,1,1,30.8,52.3,3.46,3.46,0,0,1,27.34,55.75Zm5.39-10.18.43.36-1.37,1.61-.43-.36ZM33,58.07l-1.4-1.29.38-.41,1.4,1.29Zm.8-5.41V52.1h2v.56Z"/>
                        <text class="cls-2" transform="translate(72.11 28.37)">характеристики двигателя</text>
                        <line class="cls-3" x1="72.11" y1="40.03" x2="420.66" y2="40.03"/>
                        <text class="cls-4" transform="translate(254.61 126.7)">макс. скорость</text>
                        <text class="cls-4" transform="translate(254.36 190.14)">расход топлива</text>
                        <text class="cls-4" transform="translate(73.36 190.14)">разгон за 6.1с</text>
                        <text class="cls-4" transform="translate(75.36 126.7)">двигатель</text>
                        <text class="cls-5" transform="translate(253.61 105.95)">250 км/ч.</text>
                        <text class="cls-5" transform="translate(254.61 169.2)">7,9л/100км</text>
                        <text class="cls-6" transform="translate(74.36 168.7)">до 100 км/ч.</text>
                        <text class="cls-5" transform="translate(74.36 105.62)">3.0 TFSI</text>
                    </g>
                </svg>
            </div>
            <div class="second-slide__right-item">
                <h5>Расход топлива</h5>
                <p>
                    Пятиместный Audi Q7 3.0 TFSI (333 л.с). Расход топлива в смешанном цикле
                    7,7-8,1 л/100 км. Выброс СО2 в смешанном цикле 169-189 г/км
                </p>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 442.43 236.09">
                    <defs>
                        <linearGradient id="Безымянный_градиент_8" x1="173.39" y1="201.23" x2="173.39" y2="120.49" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#f16c91" stop-opacity="0"/>
                            <stop offset="0.07" stop-color="#f16c91" stop-opacity="0.12"/>
                            <stop offset="0.21" stop-color="#f16b90" stop-opacity="0.35"/>
                            <stop offset="0.35" stop-color="#f16a90" stop-opacity="0.55"/>
                            <stop offset="0.49" stop-color="#f16a90" stop-opacity="0.71"/>
                            <stop offset="0.62" stop-color="#f1698f" stop-opacity="0.84"/>
                            <stop offset="0.75" stop-color="#f1698f" stop-opacity="0.93"/>
                            <stop offset="0.88" stop-color="#f1698f" stop-opacity="0.98"/>
                            <stop offset="1" stop-color="#f1698f"/>
                        </linearGradient>
                        <linearGradient id="Безымянный_градиент_5" x1="173.88" y1="200.92" x2="173.88" y2="145.08" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#dd1c51" stop-opacity="0"/>
                            <stop offset="0.02" stop-color="#dd1c51" stop-opacity="0.04"/>
                            <stop offset="0.17" stop-color="#dd1c51" stop-opacity="0.29"/>
                            <stop offset="0.32" stop-color="#dd1c51" stop-opacity="0.51"/>
                            <stop offset="0.46" stop-color="#dd1c51" stop-opacity="0.69"/>
                            <stop offset="0.6" stop-color="#dd1c51" stop-opacity="0.82"/>
                            <stop offset="0.74" stop-color="#dd1c51" stop-opacity="0.92"/>
                            <stop offset="0.88" stop-color="#dd1c51" stop-opacity="0.98"/>
                            <stop offset="1" stop-color="#dd1c51"/>
                        </linearGradient>
                    </defs>
                    <g id="Слой_24" data-name="Слой 24">
                        <line class="cls-1" x1="1.56" y1="96.95" x2="346.21" y2="96.95"/>
                        <line class="cls-1" x1="1.43" y1="118.02" x2="346.08" y2="118.02"/>
                        <line class="cls-1" x1="1.07" y1="138.68" x2="345.72" y2="138.68"/>
                        <line class="cls-1" x1="1.07" y1="159.57" x2="345.72" y2="159.57"/>
                        <line class="cls-1" x1="0.43" y1="180.46" x2="345.08" y2="180.46"/>
                        <line class="cls-1" x1="0.38" y1="201" x2="345.03" y2="201"/>
                        <path class="cls-2" d="M.38,202.85s51.24-11.78,92.06-6.39a54.68,54.68,0,0,0,25.93-2.55c7.16-2.65,14.38-7.26,17.88-15.26l8.9-14.85a25.19,25.19,0,0,1,3.94-5c2.74-2.7,7.12-6.62,9.78-7,7.14-2.22,20.1-10.52,25-13.64s44-31.05,79.82-9.61c0,0,19.06,12.1,25.51,22.1,0,0,22.8,28.16,57.21,11.74"/>
                        <path class="cls-3" d="M.38,201.23s32.88-9,101.66-4.89c38.83,0,34-32.41,53.31-42.84,4.79-2.59,17.62-7.67,22-10.84C207.8,120.94,247.5,104,287,148.08c0,0,24.35,31.93,59.42,14.19v39Z"/>
                        <path class="cls-4" d="M1.51,200.92S46.76,159.48,112.26,179s74.5-82.9,166.75-3c0,0,31,28.64,67.25-16.17v41.11Z"/>
                        <path class="cls-5" d="M.38,201.23C12,191.18,58.82,164,111.25,179.14a48.41,48.41,0,0,0,9,1.82c67.64,6.22,64.25-83.27,161.77-1.66,0,0,29.46,22.16,63.13-19.18"/>
                        <circle class="cls-6" cx="212.9" cy="144.35" r="9.4"/>
                        <circle class="cls-7" cx="212.9" cy="144.35" r="2.7"/>
                        <circle class="cls-6" cx="233.66" cy="118.95" r="9.4"/>
                        <circle class="cls-7" cx="233.66" cy="118.95" r="2.7"/>
                        <text class="cls-8" transform="translate(173.15 105.02)">макс. крут. момент</text>
                        <text class="cls-8" transform="translate(167.98 132.28)">макс. мощность</text>
                        <text class="cls-8" transform="translate(4.48 218.02)"><tspan xml:space="preserve">0                     1к                     2к                     3к                     4к</tspan></text>
                        <text class="cls-8" transform="translate(354.15 102.02)">600<tspan x="0" y="20">500</tspan><tspan x="0" y="40">400</tspan><tspan x="0" y="60">300</tspan><tspan x="0" y="80">200</tspan><tspan x="0" y="100">100</tspan></text>
                        <text class="cls-8" transform="translate(394.41 206.73) rotate(-90)">крутящий момент</text>
                        <text class="cls-8" transform="translate(1.51 233.69)">скорость двигателя</text>
                        <text class="cls-8" transform="translate(23.51 49.69)">мощность</text>
                        <text class="cls-8" transform="translate(23.51 65.69)">крутящий момент</text>
                        <rect class="cls-17" x="1.76" y="41.02" width="10.99" height="10.99"/>
                        <rect class="cls-18" x="1.76" y="57.02" width="10.99" height="10.99"/>
                        <line class="cls-19" x1="1.76" y1="31.35" x2="366.82" y2="31.35"/>
                        <text class="cls-20" transform="translate(1.76 18.69)">производительность двигателя</text>
                        <rect class="cls-25" x="394.41" width="48.02" height="8.85"/>
                        <rect class="cls-25" x="409.77" y="34.56" width="17.3" height="6.58" transform="translate(456.27 -380.57) rotate(90)"/>
                        <rect class="cls-25" x="394.41" y="11.54" width="48.02" height="4.43"/>
                        <path class="cls-25" d="M394.41,18.65V27.5h7.38V26.29h33.4V27.5h7.24V18.65Zm24,6.74a2.31,2.31,0,1,1,2.31-2.31A2.31,2.31,0,0,1,418.42,25.39Z"/>
                        <path class="cls-25" d="M413.9,55.66a4.62,4.62,0,0,1,9,0h5V46.5h-19v9.16Z"/>
                        <path class="cls-25" d="M422.94,57.54a4.62,4.62,0,0,1-9,0h-5v7.91h19V57.54Z"/>
                    </g>
                </svg>
            </div>
        </div>
        <div class="item third-slide">
            <h4>Адаптивная пневмоподвеска</h4>
            <p>
                Адаптивная пневматическая подвеска с электронной регулировкой
                и индикатором угла наклона воздействует индивидуально на каждое колесо и сохраняет
                сбалансированную динамику даже при полной загрузке автомобиля.
            </p>
            <div class="car-photo">
                <img src="css/images/q7-inner.png" alt="q7 inner image">
                <svg
                    class="new"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 630.591 86.93"
                >
                    <g>
                        <circle class="cls-1" cx="587.266" cy="43.465" r="8" fill="none" stroke-width="10" stroke="#de1c50"/>
                        <circle class="cls-2" cx="587.266" cy="43.465" r="19.65"/>
                        <circle class="cls-3" cx="587.266" cy="43.465" r="43.465"/>
                        <circle class="cls-4" cx="587.266" cy="43.465" r="31.6" fill="none" stroke-width="1"/>
                        <path class="cls-5" d="M74.49,53.66a31.53,31.53,0,1,0-61.43-10" transform="translate(543.6,0)"/>
                        <circle class="cls-6" cx="556.426" cy="40.265" r="3.485"/>
                        <line class="cls-7" x1="554" y1="40" x2="110" y2="0" />
                    </g>
                </svg>
                <div class="info-block">
                    <h5>
                        Адаптивная пневматическая подвеска
                    </h5>
                    <p>
                        Устанавливаемая по заказу пневматическая подвеска с электронной регулировкой
                        и индикатором угла наклона воздействует индивидуально на каждое колесо и сохраняет
                        сбалансированную динамику даже при полной загрузке автомобиля. Можно заказать также
                        спортивную версию подвески с более жесткой характеристикой пневматических элементов.
                    </p>
                </div>
            </div>
        </div>
        <div class="item fourth-slide">
            <h4>Управляемая задняя подвеска</h4>
            <div class="car-photo">
                <img src="css/images/rear-suspesion.png" alt="q7 rear suspesion">
                <svg
                        class="new"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 630.591 86.93"
                >
                    <g>
                        <circle class="cls-1" cx="587.266" cy="43.465" r="8" fill="none" stroke-width="10" stroke="#de1c50"/>
                        <circle class="cls-2" cx="587.266" cy="43.465" r="19.65"/>
                        <circle class="cls-3" cx="587.266" cy="43.465" r="43.465"/>
                        <circle class="cls-4" cx="587.266" cy="43.465" r="31.6" fill="none" stroke-width="1"/>
                        <path class="cls-5" d="M74.49,53.66a31.53,31.53,0,1,0-61.43-10" transform="translate(543.6,0)"/>
                        <circle class="cls-6" cx="556.426" cy="40.265" r="3.485"/>
                        <line class="cls-7" x1="554" y1="40" x2="110" y2="0" />
                    </g>
                </svg>
                <div class="info-block">
                    <p>
                        Улучшает динамику и повышает комфорт управления за счет изменения угла направления
                        задних колес. На малых скоростях повышается маневренность автомобиля.
                    </p>
                    <p>
                        При этом корректировка рулевого управления происходит в направлении, противоположном
                        тому, в котором поворачиваются передние колеса, — это позволяет уменьшить радиус
                        разворота. На более высоких скоростях подруливание осуществляется в том же направлении,
                        что и для передних колес, в результате чего повышается отзывчивость руля, а также динамика
                        и курсовая устойчивость автомобиля.
                    </p>
                    <p>
                        Управляемая задняя подвеска облегчает парковку и маневрирование при активации
                        парковочного ассистента и ассистента движения с прицепом. В целом, она обеспечивает
                        легкое маневрирование, спортивные ходовые качества и непревзойденное удобство рулевого
                        управления.
                    </p>
                </div>
            </div>
        </div>
        <div class="item fifth-slide">
            <img src="css/images/assist-system-bg.jpg" alt="background photo">
            <div class="left-side">
                <h5>
                    Электронные ассистирующие системы |
                    <span>Превосходство безопасности</span>
                </h5>
                <h4>
                    С удовольствием следовать
                    <span>в пункт назначения</span>
                </h4>
                <p>
                    Все поездки разные. Но у них есть нечто общее — ощущение защищенности, создаваемое каждым
                    автомобилем Audi. Комплекс электронных ассистирующих систем нового Audi Q7 поможет Вам
                    в любой поездке и позаботится о комфорте в пути. Познакомьтесь с некоторыми из них:
                </p>
            </div>
            <div class="right-side">
                <div class="parking">
                    <h5>Парковка (Parking)</h5>
                    <p>
                        Облегчает процесс парковки и маневрирования с помощью парковочного ассистента,
                        системы автоматической парковки и специальных камер.
                    </p>
                </div>
                <div class="city">
                    <h5>Город (City)</h5>
                    <p>
                        Благодаря взаимодействующим между собой электронным ассистирующим системам
                        использование этого режима повышает безопасность и комфорт в условиях городского
                        движения, например, при перестроении, движении задним ходом при поперечном движении
                        или при выходе из автомобиля. В определенных ситуациях система позволяет снизить вероятность
                        столкновения с другими участниками дорожного движения.
                    </p>
                </div>
                <div class="tour">
                    <h5>Путешествие (Tour)</h5>
                    <p>
                        Электронные ассистирующие системы с сенсорным управлением оказывают поддержку водителю,
                        повышая безопасность, комфорт и эффективность, прежде всего — при движении на автомагистралях
                        или на проселочной дороге, а также помогают сохранять внимательность при движении.
                    </p>
                </div>
            </div>
        </div>
        <div class="item sixth-slide">
            <img src="css/images/city-assist-bg.jpg" alt="q7 city assist system background">
            <div class="main-content">
                <h4>
                    Пакет ассистирующих
                    <span class="second-line">систем "Город"</span>
                </h4>
                <span class="list-heading">Пакет содержит:</span>
                <ul class="assistants-list">
                    <li class="assistants-list__first-item">
                        Парковочный ассистент с датчиками впереди и сзади;
                    </li>
                    <li class="assistants-list__second-item">
                        Камера заднего вида;
                    </li>
                    <li class="assistants-list__third-item">
                        Audi side assist. Ассистент перестроения предупреждает водителя о появлении другого
                        автомобиля в критической зоне включением светодиодов во внешних зеркалах заднего вида;
                    </li>
                    <li class="assistants-list__fourth-item">
                        Система предупреждения при открывании двери;
                    </li>
                    <li class="assistants-list__fifth-item">
                        Ассистент контроля поперечного движения. Включает целый ряд ассистирующих систем,
                        специально предназначенных для работы в условиях городского движения. Ассистент помогает
                        водителю во время движения задним ходом при выезде с места на перпендикулярной парковке.
                        Система предупреждает водителя о наличии других транспортных средств в опасной зоне при
                        помощи индикации на дисплее MMI, звукового предупредительного сигнала, а если необходимо
                        в критических ситуациях — воздействует система экстренного торможения.
                    </li>
                </ul>
            </div>
        </div>
        <div class="item seventh-slide">
            <img src="css/images/paking-assistant.jpg" alt="q7 parking assistant">
            <div class="main-content">
                <h4>Парковочный ассистент</h4>
            </div>
        </div>
        <div class="item eighth-slide">
            <img src="css/images/audi-sound.jpg" alt="q7 3D sound system">
        </div>
        <div class="item ninth-slide">
            <img src="css/images/transmission-view.jpg" alt="transmission panel">
            <div class="main-content">
                <h4>
                    Все цели уже достигнуты.
                    <span class="second-line">Еще вчера</span>
                </h4>
                <p class="main-content__first-paragraph">
                    Будущее сетевой мобильности - перед Вашими глазами. Превосходная наглядность отображения
                    информации на водительском месте достигается благодаря устанавливаемой по заказу виртуальной
                    панели приборов Audi virtual cockpit. Электронная панель приборов с дисплеем высокого
                    разрешения диагональю 12,3 дюйма отображает всю важную для водителя информацию.
                </p>
                <p class="main-content__second-paragraph">
                    Великолепная яркость изображения сочетается с высокой чёткостью. По желанию Вы можете заказать
                    навигационную систему MMI Navigation plus с сенсорной панелью MMI touch. Дополнительный
                    выдвигающийся дисплей MMI диагональю 8,3 дюйма отличается интуитивно понятным управлением.
                    Все это - воплощение новой интеллектуальной концепции управления MMI.
                </p>
                <p class="main-content__third-paragraph">
                    Меньше кнопок, больше функций - настройка систем автомобиля, навигационная система, телефон,
                    сервисы Audi connect и развлекательные сервисы. Увеличенная в размерах сенсорная панель создана
                    для более комфортного использования. Управление сложными техническими решениями стало максимально
                    простым и приятным. Вам остается только спокойно выбрать следующую цель.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Fifth-block ends -->