<section class="First-block full-page">
    <div class="page-identifier">
        <span>Audi Q7</span>
    </div>
    <div class="main-text">
        <h4>Максимум удовольствия из каждой поездки</h4>
        <p>
            Именно так должен выглядеть Audi Q7 – мощно, современно,
            неповторимо. Отличающийся четкими гранями, точными линиями
            и мельчайшими деталями, которые идеально складываются в большую
            картину. По сравнению с предыдущей моделью автомобиль стал
            более компактным (при увеличенной колесной базе), был уменьшен
            задний свес, весь облик приобрел еще больше спортивности. Кроме
            того, он стал шире и выше, а его внешний вид – более выразительным.
            Объемность при одновременной легкости. Новый Audi Q7 – это
            результат воплощения амбициозной цели: непрекращающееся совершенствование.
        </p>
    </div>
    <div class="car-container">
        <img src="css/images/Q7.png" alt="">
        <span>Q7</span>
        <div class="left-arrow"></div>
        <div class="right-arrow"></div>
        <div class="hand">
            <div class="previous-frame">«</div>
            <div class="next-frame">«</div>
        </div>
    </div>
    <div class="play">360&nbsp;<sup>°</sup></div>
    <div class="stop">360&nbsp;<sup>°</sup></div>
    <div class="threesixty car">
        <div class="spinner">
            <span>0%</span>
        </div>
        <ol class="threesixty_images"></ol>
    </div>
</section>
<!-- First block ends -->