<section class="Fourth-block full-page">
    <div class="page-identifier">
        <span>Audi Q7</span>
    </div>
    <div class="Fourth-block__controls">
        <div class="numeration">
            <span class="Fourth-block__counter">1</span>
            <span class="Fourth-block__divider">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1.552cm" height="1.552cm">
                    <path  fill="rgb(255, 255, 255)"
                           d="M42.293,0.293 L43.707,1.707 L1.707,43.707 L0.293,42.293 L42.293,0.293 Z"/>
                </svg>
            </span>
            <sub>6</sub>
        </div>
        <div class="Fourth-block__left-arrow">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="0.423cm" height="0.635cm">
                <g>
                    <path fill="#777"
                          d="M12.003,15.825 L9.996,17.990 L2.093,11.083 L2.003,11.162 L1.317,10.405 L-0.003,9.251 L0.135,9.101 L-0.003,8.948 L1.635,7.484 L2.003,7.086 L2.042,7.119 L9.996,0.010 L12.003,2.224 L4.310,9.101 L12.003,15.825 Z"/>
                </g>
            </svg>
        </div>
        <div class="Fourth-block__right-arrow">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="0.423cm" height="0.635cm">
                <path fill="#777"
                      d="M11.865,9.101 L12.003,9.251 L10.683,10.405 L9.997,11.162 L9.907,11.083 L2.003,17.990 L-0.004,15.825 L7.690,9.101 L-0.004,2.224 L2.003,0.010 L9.958,7.119 L9.997,7.086 L10.366,7.484 L12.003,8.948 L11.865,9.101 Z"/>
            </svg>
        </div>
    </div>
    <div class="Fourth-block__vertical-controls">
        <div class="item">
            <span>360°</span>
        </div>
        <div class="item">
            <span>Интерьер</span>
        </div>
        <div class="item">
            <span>Галерея</span>
        </div>
        <div class="item">
            <span>Испытать восхищение</span>
        </div>
        <div class="item">
            <span>Концепция пространства</span>
        </div>
        <div class="item">
            <span>Интерьер по вашим правилам</span>
        </div>
    </div>
    <div class="Fourth-block__slider">
        <!-- First slide -->
        <div class="item first-slide">
            <img class="image-360" src="css/images/360-image.png" alt="background image for 360">
            <div class="show-preview">
                <span>Посмотреть обзор</span>
            </div>
            <div class="close-preview">
                <div class="cross"></div>
            </div>
            <div class="iframe-3d">
                <iframe src="http://getpano.com/pano/cars/audi/q7sline2015/" frameborder="0"></iframe>
            </div>
        </div>
        <!-- First slide ends -->
        <!-- Second slide -->
        <div class="item second-slide">
            <div class="image-wrapper">
                <img class="interior" src="css/images/interior.png" alt="interior" >
                <div>
                    <svg
                            class="new rudder"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 430.591 86.93"
                    >
                        <g>
                            <circle class="cls-1" cx="387.266" cy="43.465" r="8" fill="none" stroke-width="10" stroke="#de1c50"/>
                            <circle class="cls-2" cx="387.266" cy="43.465" r="19.65"/>
                            <circle class="cls-3" cx="387.266" cy="43.465" r="43.465"/>
                            <circle class="cls-4" cx="387.266" cy="43.465" r="31.6" fill="none" stroke-width="1"/>
                            <path class="cls-5" d="M74.49,53.66a31.53,31.53,0,1,0-61.43-10" transform="translate(343.6,0)"/>
                            <circle class="cls-6" cx="356.426" cy="40.265" r="3.485"/>
                            <line class="cls-7" x1="353.266" y1="40.6" x2="30" y2="40.6" />
                        </g>
                    </svg>
                    <div class="infoblock rudder">
                        <h5>Многофункциональный<br>кожаный руль</h5>
                        <p>
                            C возможностью переключения передач. Позволяет управлять многими
                            функциями, включая информационную систему водителя, не отрывая
                            рук от рулевого колеса.
                        </p>
                    </div>
                </div>
                <div>
                    <svg
                            class="new virtual-cockpit"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 430.591 86.93"
                    >
                        <g>
                            <circle class="cls-1" cx="387.266" cy="43.465" r="8" fill="none" stroke-width="10" stroke="#de1c50"/>
                            <circle class="cls-2" cx="387.266" cy="43.465" r="19.65"/>
                            <circle class="cls-3" cx="387.266" cy="43.465" r="43.465"/>
                            <circle class="cls-4" cx="387.266" cy="43.465" r="31.6" fill="none" stroke-width="1"/>
                            <path class="cls-5" d="M74.49,53.66a31.53,31.53,0,1,0-61.43-10" transform="translate(343.6,0)"/>
                            <circle class="cls-6" cx="356.426" cy="40.265" r="3.485"/>
                            <line class="cls-7" x1="353.266" y1="40.6" x2="100" y2="40.6" />
                        </g>
                    </svg>
                    <div class="infoblock virtual-cockpit">
                        <h5>Audi virtual cockpit</h5>
                        <p>
                            Управляйте многочисленными функциями и сервисами MMI с помощью
                            виртуальной приборной панели, расположенной на оптимальной
                            высоте в поле зрения водителя. Вы можете выбирать между двумя
                            режимами: классическим и прогрессивным — для отображения важной
                            для водителя информации в великолепном разрешении.
                        </p>
                    </div>
                </div>
                <div>
                    <svg
                            class="new voice-control"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 430.591 86.93"
                    >
                        <g>
                            <circle class="cls-1" cx="387.266" cy="43.465" r="8" fill="none" stroke-width="10" stroke="#de1c50"/>
                            <circle class="cls-2" cx="387.266" cy="43.465" r="19.65"/>
                            <circle class="cls-3" cx="387.266" cy="43.465" r="43.465"/>
                            <circle class="cls-4" cx="387.266" cy="43.465" r="31.6" fill="none" stroke-width="1"/>
                            <path class="cls-5" d="M74.49,53.66a31.53,31.53,0,1,0-61.43-10" transform="translate(343.6,0)"/>
                            <circle class="cls-6" cx="356.426" cy="40.265" r="3.485"/>
                            <line class="cls-7" x1="353.266" y1="40.6" x2="160" y2="40.6" />
                        </g>
                    </svg>
                    <div class="infoblock voice-control">
                        <h5>Диалоговая система голосового управления</h5>
                        <p>
                            Вы можете управлять многими важными функциями автомобильного
                            телефона, радио, CD-плеера, DVD-чейнджера, TV-тюнера, а также
                            навигационной системы с помощью голосового управления.
                        </p>
                    </div>
                </div>
                <div>
                    <svg
                            class="new mmi"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 430.591 86.93"
                    >
                        <g>
                            <circle class="cls-1" cx="387.266" cy="43.465" r="8" fill="none" stroke-width="10" stroke="#de1c50"/>
                            <circle class="cls-2" cx="387.266" cy="43.465" r="19.65"/>
                            <circle class="cls-3" cx="387.266" cy="43.465" r="43.465"/>
                            <circle class="cls-4" cx="387.266" cy="43.465" r="31.6" fill="none" stroke-width="1"/>
                            <path class="cls-5" d="M74.49,53.66a31.53,31.53,0,1,0-61.43-10" transform="translate(343.6,0)"/>
                            <circle class="cls-6" cx="356.426" cy="40.265" r="3.485"/>
                            <line class="cls-7" x1="353.266" y1="40.6" x2="50" y2="40.6" />
                        </g>
                    </svg>
                    <div class="infoblock mmi">
                        <h5>Audi MMI®</h5>
                        <p>
                            Делает использование функций автомобиля и информационно-развлекательных
                            систем более комфортным благодаря интуитивно понятной системе управления
                            и индикации; включает широкие возможности поиска MMI по произвольным
                            ключевым словам.
                        </p>
                    </div>
                </div>
            </div>
            <div class="info">
                <h4>Видеть. Слышать. Знать.</h4>
                <p>
                    Упрощенный, наглядный, логичный. Мир мобильных
                    информационно-развлекательных систем изменился благодаря
                    мультимедийному интерфейсу MMI и многим другим элементам
                    управления, которые позволяют Вам быстро ориентироваться
                    на месте водителя, не отрывая взгляда от дороги. Теперь
                    можно разговаривать по телефону, пользоваться навигатором
                    или заходить в Интернет, используя доступный в качестве
                    опции Audi connect — высокоинтуитивный, высокофункциональный
                    и комфортный сервис, ставший таким не в последнюю очередь
                    благодаря дополнительному оборудованию, такому как диалоговая
                    система голосового управления, проекционный дисплей, виртуальная
                    приборная панель Audi virtual cockpit. Убедитесь сами, каким
                    простым и интуитивно понятным может быть управление автомобилем.
                </p>
            </div>
        </div>
        <!-- Second slide ends -->
        <!-- Third slide -->
        <div class="item third-slide">
            <img
                    class="third-slide__image first-image"
                    src="css/images/driver-dashboard.jpg"
                    alt="driver dashboard close view"
            >
            <img
                    class="third-slide__image second-image"
                    src="css/images/dashboard-radio.jpg"
                    alt="radio on dashboard"
            >
            <img
                    class="third-slide__image third-image"
                    src="css/images/dashboard-tablet.jpg"
                    alt="tablet on dashboard"
            >
            <img
                    class="third-slide__image fourth-image"
                    src="css/images/drivers-seat.jpg"
                    alt="driver dashboard far view"
            >
        </div>
        <!-- Third slide ends -->
        <!-- Fourth slide -->
        <div class="item fourth-slide">
            <div class="info">
                <h4>Испытать восхищение</h4>
                <div class="first-paragraph">
                    <h5>Вплоть до мельчайших деталей</h5>
                    <p>
                        Создание эксклюзивной атмосферы — вопрос стиля. Вашего стиля.
                        Который Вы можете совершенствовать вплоть до мельчайших деталей.
                        Расставьте акценты с помощью декоративных вставок, впечатляюще
                        гладкая поверхность которых излучает естественное тепло. Деревянные
                        декоративные вставки из ценных пористых пород дерева позволяют
                        почувствовать эксклюзивность. Или сделайте свой выбор, скомбинировав
                        изысканные породы дерева с алюминием — Ваш личный вкус определяет
                        характер Вашего автомобиля.
                    </p>
                </div>
                <div class="second-paragraph">
                    <h5>Восхищает и не оставляет равнодушным</h5>
                    <p>
                        Не каждая порода дерева годится для отделки Вашего Audi.
                        Благородные материалы, используемые для декоративных вставок,
                        получены при обработке стволов и так называемых древесных капов.
                        Вставки, используемые для производства одного автомобиля, всегда
                        изготовлены из одного ствола или капа. Это делается для того,
                        чтобы избежать внешних различий в отделке. Для обработки древесины
                        мы используем как новейшие станки, так и древнейший инструмент в
                        мире — руки человека. Некоторые части обрабатываются и шлифуются
                        вручную. Чтобы Вы могли это почувствовать на ощупь.
                    </p>
                </div>
            </div>
            <img class="timber" src="css/images/timber.png" alt="timber">
        </div>
        <!-- Fourth slide ends -->
        <!-- Fifth slide -->
        <div class="item fifth-slide">
            <div class="left-side">
                <div class="info">
                    <h4>
                        <span class="first-line">Место для ваших идей.</span>
                        <span class="second-line">Концепция пространства</span>
                    </h4>
                    <p>
                        Превосходство – это больше простора в меньшем пространстве.
                        Новый Audi Q7 стал более компактным по сравнению с предшественником,
                        но при этом предлагает своим пассажирам больше пространства для ног
                        и над головой, а также широчайшие возможности конфигурации интерьера
                        и доступный в качестве опции третий ряд сидений, оснащенный
                        электроприводом складывания. Таким образом, при необходимости
                        в вашем распоряжении может быть до семи сидений.
                    </p>
                </div>
                <img src="css/images/baggage-place.jpg" alt="baggage place">
            </div>
            <div class="right-side">
                <img src="css/images/seats.jpg" alt="seats">
            </div>
        </div>
        <!-- Fifth slide ends -->
        <!-- Sixth slide -->
        <div class="item sixth-slide">
            <div class="info">
                <h4>Интерьер по Вашим правилам</h4>
                <p>
                    Новое видение интерьера или его буквальное восприятие при
                    планировании размещения пассажиров или багажа — все нацелено
                    на самое главное — на водителя. Сделано все, чтобы Вы могли
                    максимально ощутить пространство и свободу. Различные возможности
                    конфигурации позволят Вам использовать столько сидений и мест багажа,
                    сколько необходимо в конкретной ситуации. В задней части салона
                    имеются удобные сиденья для пассажиров второго ряда. По заказу Вы
                    можете установить еще два дополнительных сиденья, чтобы видоизменить
                    пространство багажного отделения. Спинки сидений третьего ряда с
                    электрической регулировкой могут складываться. Посадка и высадка
                    из автомобиля отличаются простотой и комфортом. Все это Вам предлагает
                    новый Audi Q7. С двумя, тремя, четырьмя, пятью, шестью или семью
                    сиденьями — он позволяет разместить в салоне до шести детских кресел.
                    Целый ряд отличных решений для Вашего удобства.
                </p>
            </div>
            <div class="sprite">
                <div class="sprite-item first-item shift"></div>
                <div class="sprite-item second-item"></div>
                <div class="sprite-item third-item"></div>
                <div class="sprite-item fourth-item"></div>
                <div class="sprite-item fifth-item"></div>
            </div>
        </div>
        <!-- Sixth slide ends -->
    </div>
</section>
<!-- Fourth block ends -->