<section class="Sixth-block full-page" id="test-drive">
    <div class="page-identifier">
        <span>Audi Q7</span>
    </div>
    <h4>Технологии освещения | Превосходство новых идей</h4>
    <div class="info">
        <h5>Замечайте<br>и будьте замечены</h5>
        <p>
            Темнота — понятие относительное. Светодиодные фары Audi Matrix, предлагаемые в качестве
            опции, превращают ночь в день. Новая инновационная технология обеспечивает великолепное
            и интеллектуальное освещение дороги, повышая уровень безопасности и делая Вас заметным.
            Светодиодные фары Audi Matrix эффектны не только ночью, но и в дневное время.
        </p>
    </div>
    <div class="test-drive">Тест-драйв Нового Q7</div>
    <button class="test-drive-button"><span>Запись</span></button>
    <div class="test-drive-form">
        <svg xmlns="http://www.w3.org/2000/svg" class="close-form" viewBox="0 0 17 16">
            <path class="cls-1" d="M1.573,0.006L0.43,1.109l15.432,14.9,1.143-1.1Zm-1.579,14.9,1.143,1.1L16.57,1.109l-1.143-1.1Z"/>
        </svg>
        <h4>Запись на тест-драйв<br><span>Audi Q7</span></h4>
        <form action="" method="">
            <div class="gender">
                <span>Ваш пол</span>
                <input type="radio" name="gender" value="male">
                <div class="male"></div>
                <input type="radio" name="gender" value="female">
                <div class="female"></div>
            </div>
            <div class="name">
                <input type="text" name="name" placeholder="Имя" required>
            </div>
            <div class="surname">
                <input type="text" name="surname" placeholder="Фамилия">
            </div>
            <div class="tel">
                <input type="tel" name="phone" placeholder="Телефон" required>
            </div>
            <div class="email">
                <input type="email" name="email" placeholder="E-mail">
            </div>
            <div class="agreement">
                <input type="checkbox" name="agreement" id="agreement" required>
                <div class="checkbox-mask"></div>
                <label for="agreement">Согласие на обработку персональных данных</label>
                <p>
                    Этим соглашением даю согласие на обработку моих вышеуказанных персональных данных
                    Оператору ООО “Ауди-Центр”. С целями: учета предоставленной информации в базах данных;
                    проведение статистических исследований, а также исследований, направленных на улучшение
                    качества продукции и услуг; проведение маркетинговых программ, в том числе, для продвижения
                    товаров, работ, услуг на рынке; чтобы я получал информацию о новых товарах и услугах Оператора
                    и партнеров операторов (например, с помощью отправки журналов, отправки приглашений на презентации
                    продуктов, сообщений о технических новшествах, будущих работах по сервисному обслуживанию, условия
                    покупки нового автомобиля и т.д.) с помощью различных средств связи.
                </p>
            </div>
            <button class="submit">
                <span>Отправить</span>
            </button>
        </form>
    </div>
</section>
<!-- Sixth block ends -->