<section class="Third-block full-page">
    <div class="page-identifier">
        <span>Audi Q7</span>
    </div>
    <div class="Third-block__controls">
        <div class="numeration">
            <span class="Third-block__counter">1</span>
            <span class="Third-block__divider">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1.552cm" height="1.552cm">
                    <path  fill="rgb(255, 255, 255)"
                           d="M42.293,0.293 L43.707,1.707 L1.707,43.707 L0.293,42.293 L42.293,0.293 Z"/>
                </svg>
            </span>
            <sub>3</sub>
        </div>
        <div class="Third-block__left-arrow">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="0.423cm" height="0.635cm">
                <g>
                    <path fill="#777"
                          d="M12.003,15.825 L9.996,17.990 L2.093,11.083 L2.003,11.162 L1.317,10.405 L-0.003,9.251 L0.135,9.101 L-0.003,8.948 L1.635,7.484 L2.003,7.086 L2.042,7.119 L9.996,0.010 L12.003,2.224 L4.310,9.101 L12.003,15.825 Z"/>
                </g>
            </svg>
        </div>
        <div class="Third-block__right-arrow">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="0.423cm" height="0.635cm">
                <path fill="#777"
                      d="M11.865,9.101 L12.003,9.251 L10.683,10.405 L9.997,11.162 L9.907,11.083 L2.003,17.990 L-0.004,15.825 L7.690,9.101 L-0.004,2.224 L2.003,0.010 L9.958,7.119 L9.997,7.086 L10.366,7.484 L12.003,8.948 L11.865,9.101 Z"/>
            </svg>
        </div>
    </div>
    <div class="Third-block__vertical-controls">
        <div class="item">
            <span>Quattro®</span>
        </div>
        <div class="item">
            <span>Безопасность и экономия</span>
        </div>
        <div class="item">
            <span>Фары</span>
        </div>
    </div>
    <div class="Third-block__slider">
        <!-- First slide -->
        <div class="items first-slide">
            <div class="image-wrapper">
                <img src="css/images/from_left_photo.png" class="image">
                <svg class="big-circles left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 201 193">
                    <circle class="cls-1" cx="100.5" cy="94.5" r="92.5"/>
                    <circle class="cls-2" cx="110.5" cy="86.5" r="86.5"/>
                    <circle class="cls-3" cx="121.5" cy="80.5" r="79.5"/>
                    <circle class="cls-4" cx="93" cy="100" r="93"/>
                </svg>
                <svg class="big-circles right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 201 193">
                    <circle class="cls-1" cx="100.5" cy="94.5" r="92.5"/>
                    <circle class="cls-2" cx="110.5" cy="86.5" r="86.5"/>
                    <circle class="cls-3" cx="121.5" cy="80.5" r="79.5"/>
                    <circle class="cls-4" cx="93" cy="100" r="93"/>
                </svg>
                <div>
                    <svg
                            class="new left"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 530.591 486.93"
                    >
                        <g>
                            <circle class="cls-1" cx="467.266" cy="443.465" r="8" fill="none" stroke-width="10" stroke="#de1c50"/>
                            <circle class="cls-2" cx="467.266" cy="443.465" r="19.65"/>
                            <circle class="cls-3" cx="467.266" cy="443.465" r="43.465"/>
                            <circle class="cls-4" cx="467.266" cy="443.465" r="31.6" fill="none" stroke-width="1"/>
                            <path class="cls-5" d="M74.49,53.66a31.53,31.53,0,1,0-61.43-10" transform="translate(423.6,400)"/>
                            <circle class="cls-6" cx="435.426" cy="441.265" r="3.485"/>
                            <line class="cls-7" x1="432.266" y1="441.6" x2="80" y2="440.6" />
                            <text class="left__heading" x="-330" y="260">Межосевой дифференциал</text>
                            <text class="left__paragraph" x="-330" y="285">Оптимально распределяет тяговое</text>
                            <text class="left__paragraph" x="-330" y="305">усилие между осями.</text>
                        </g>
                    </svg>
                </div>
                <div>
                    <svg
                            class="new right"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 660.591 706.93"
                    >
                        <g>
                            <circle class="cls-1" cx="467.266" cy="253.465" r="8" fill="none" stroke-width="10" stroke="#de1c50"/>
                            <circle class="cls-2" cx="467.266" cy="253.465" r="19.65"/>
                            <circle class="cls-3" cx="467.266" cy="253.465" r="43.465"/>
                            <circle class="cls-4" cx="467.266" cy="253.465" r="31.6" fill="none" stroke-width="1"/>
                            <path class="cls-5" d="M74.49,53.66a31.53,31.53,0,1,0-61.43-10" transform="translate(423.6,209)"/>
                            <circle class="cls-6" cx="435.426" cy="253.265" r="3.485"/>
                            <line class="cls-7" x1="435.266" y1="253.6" x2="280" y2="253.6" />
                            <text class="right__heading" x="-280" y="-350">Селективное распределение</text>
                            <text class="right__heading" x="-280" y="-330">крутящего момента на колеса</text>
                            <text class="right__paragraph" x="-280" y="-300">Повышает курсовую устойчивость</text>
                            <text class="right__paragraph" x="-280" y="-280">при совершении резких поворотов.</text>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="first-slide__main-text">
                <div class="about-transmition">
                    <h4>
                        <span class="first-line">Привод quattro® означает</span>
                        <span class="second-line">уверенность в любой ситуации</span>
                    </h4>
                    <p>
                        <span>
                            Приводу quattro — 35 лет. Но эта история успеха
                            продолжается по сей день. И находит свое воплощение
                            в очередном шедевре — новом Audi Q7 с постоянным
                            полном приводом quattro. Уже в стандартной комплектации
                            автомобиль отличается улучшенной тягой и потрясающей
                            динамикой в любой ситуации. Новые режимы Audi drive
                            select, например, режим езды по бездорожью «offroad»,
                            позволят Вам в полной мере раскрыть все возможности
                            Вашего Audi.
                        </span>
                    </p>
                </div>
                <div class="about-control">
                    <h4>Все условия идеальны</h4>
                    <p>
                        Дорога всегда под контролем. Ведь тяга двигателя всегда
                        распределена между четырьмя колесами. Межосевой
                        дифференциал направляет часть крутящего момента именно на
                        ту ось, которая этого требует в данной ситуации. Испытайте
                        стабильность движения, динамику и маневренность, которые
                        обеспечивает постоянный полный привод quattro. Он не только
                        противодействует заносу или cносу, но и улучшает передачу
                        крутящего момента и сцепление с дорожным покрытием. Теперь
                        Вам покорятся любые дороги и цель всегда будет перед глазами.
                        На извилистых трассах, на прямых участках, на любом покрытии.
                        Постоянный полный привод quattro вызывает только восторг и
                        восхищение, остающееся в памяти.
                    </p>
                </div>
            </div>
        </div>
        <!-- First slide ends -->
        <!-- Second slide -->
        <div class="items second-slide">
            <img class="shell" src="css/images/car-outer.png" alt="корпус">
            <img class="shadow" src="css/images/car-outer-shadow.png" alt="тень машины">
            <div class="safety">
                <h4>
                    <span class="first-line">Рейтинг безопасности</span>
                    <span class="second-line">Euro NCAP CAR</span>
                </h4>
                <div class="statistic first-block">
                    <div class="number">94%</div>
                    <div class="info">Защита взрослых пассажиров</div>
                </div>
                <div class="statistic second-block">
                    <div class="number">88%</div>
                    <div class="info">Защита детей</div>
                </div>
                <div class="statistic third-block">
                    <div class="number">70%</div>
                    <div class="info">Защита пешеходов</div>
                </div>
                <div class="statistic forth-block">
                    <div class="number">76%</div>
                    <div class="info">Системы безопасности</div>
                </div>
            </div>
            <div class="weight">
                <h4>
                    <span class="first-line">Мы сокращаем вес автомобиля.</span>
                    <span class="second-line">Вы экономите топливо.</span>
                </h4>
                <p class="info">
                    Audi Q7 задает новые стандарты сразу в нескольких областях:
                    прогрессивный дизайн сочетается с вдохновляющей динамикой,
                    инновационными технологиями и кузовом максимально облегченной
                    конструкции. По сравнению с предыдущей моделью масса нового
                    Audi Q7 снизилась почти на 325 кг. Это стало возможным благодаря
                    инновационным решениям и интеллектуальному сочетанию материалов.
                    В результате автомобиль отличается повышенной динамикой,
                    производительностью и самыми низкими показателями вредных
                    выбросов в своем классе.
                </p>
                <div class="statistic first-block">
                    <div class="number">-71 кг</div>
                    <div class="info">
                        Применение высокотехнологичных
                        материалов позволило значительно
                        снизить вес кузова.
                    </div>
                </div>
                <div class="statistic second-block">
                    <div class="number">-24 кг</div>
                    <div class="info">
                        Двери, изготовленные из алюминия
                        позволили добиться облегчения
                        конструкции.
                    </div>
                </div>
                <div class="statistic third-block">
                    <div class="number">-19 кг</div>
                    <div class="info">
                        Экономия веса за счет
                        усовершенствованной
                        <br>
                        выхлопной системы.
                    </div>
                </div>
            </div>
        </div>
        <!-- Second slide ends -->
        <!-- Third slide -->
        <div class="items third-slide">
            <div class="third-slide__main-text">
                <h4>Светодиодные фары Audi Matrix</h4>
                <div class="text-wrapper">
                    <article>
                        <div class="text-container">
                            <p class="first-paragraph">
                                Специальная камера и система распределения световых потоков
                                адаптируют режим освещения в зависимости от дорожной ситуации
                                и положения других участников дорожного движения. Новые
                                светодиоды с регулируемой яркостью и инновационным расположением
                                приспосабливаются к любой ситуации, что существенно повышает
                                безопасность дорожного движения.
                            </p>
                            <p class="second-paragraph">
                                Светодиодные фары Audi Matrix. Инновационная технология
                                объединяет систему камер и светодиоды для максимально
                                четкого распределения светового потока в зависимости от
                                условий внешнего освещения. Автомобили встречного и попутного
                                направления затемняются таким образом, что все другие зоны
                                впереди и рядом остаются полностью освещенными. Таким образом,
                                система позволяет водителю получить освещение зоны впереди
                                автомобиля в динамическом режиме, а также значительно
                                увеличенную дальность видимости.
                            </p>
                            <p class="third-paragraph">
                                Стирается разница между LED освещением и дальним светом.
                                Известные функции повышения комфорта, такие как статическое
                                освещение поворотов, всепогодное освещение, функция
                                освещения перекрестков и магистралей, туристический режим
                                с переключением с левостороннего движения на правостороннее
                                по данным GPS, интегрированы в систему светодиодного освещения.
                                Светодиоды фар Audi Matrix также выполняют функцию динамического
                                освещения поворотов. Благодаря данным навигационной системы фары
                                освещают область поворота незадолго до поворота руля.
                            </p>
                            <p class="fourth-paragraph">
                                Система оповещения о появлении объектов на дорожном полотне
                                взаимодействует с системой ночного видения, поставляемой в
                                качестве опции. При распознавании пешехода отдельные светодиоды
                                друг за другом троекратно мигают, четко выделяя пешехода из его
                                окружения. Привлекает внимание выразительная графика фонарей,
                                светодиодный дневной свет.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="spotlight-photos">
                <div class="item spotlight-photos__xenon">
                    <img src="css/images/xenon-spotlight.jpg" alt="xenon plus spotlight">
                    <svg  class="new"  viewBox="0 0 630.591 86.93">
                        <g>
                            <circle class="cls-1" cx="587.266" cy="43.465" r="8" fill="none" stroke-width="10" stroke="#de1c50"/>
                            <circle class="cls-2" cx="587.266" cy="43.465" r="19.65"/>
                            <circle class="cls-3" cx="587.266" cy="43.465" r="43.465"/>
                            <circle class="cls-4" cx="587.266" cy="43.465" r="31.6" fill="none" stroke-width="1"/>
                            <path class="cls-5" d="M74.49,53.66a31.53,31.53,0,1,0-61.43-10" transform="translate(543.6,0)"/>
                            <circle class="cls-6" cx="556.426" cy="40.265" r="3.485"/>
                            <line class="cls-7" x1="553.266" y1="40.6" x2="130" y2="40.6" />
                            <text class="new__xenon" x="0" y="30">XENON PLUS</text>
                        </g>
                    </svg>
                </div>
                <div class="item spotlight-photos__led">
                    <img src="css/images/led-spotlight.jpg" alt="led spotlight">
                    <svg class="new" viewBox="0 0 630.591 86.93">
                        <g>
                            <circle class="cls-1" cx="587.266" cy="43.465" r="8" fill="none" stroke-width="10" stroke="#de1c50"/>
                            <circle class="cls-2" cx="587.266" cy="43.465" r="19.65"/>
                            <circle class="cls-3" cx="587.266" cy="43.465" r="43.465"/>
                            <circle class="cls-4" cx="587.266" cy="43.465" r="31.6" fill="none" stroke-width="1"/>
                            <path class="cls-5" d="M74.49,53.66a31.53,31.53,0,1,0-61.43-10" transform="translate(543.6,0)"/>
                            <circle class="cls-6" cx="556.426" cy="40.265" r="3.485"/>
                            <line class="cls-7" x1="553.266" y1="40.6" x2="20" y2="40.6" />
                            <text class="new__led" x="0" y="30">LED</text>
                        </g>
                    </svg>
                </div>
                <div class="item spotlight-photos__matrix">
                    <img src="css/images/matrix-spotlight.jpg" alt="matrix led spotlight">
                    <svg class="new" viewBox="0 0 630.591 86.93">
                        <g>
                            <circle class="cls-1" cx="587.266" cy="43.465" r="8" fill="none" stroke-width="10" stroke="#de1c50"/>
                            <circle class="cls-2" cx="587.266" cy="43.465" r="19.65"/>
                            <circle class="cls-3" cx="587.266" cy="43.465" r="43.465"/>
                            <circle class="cls-4" cx="587.266" cy="43.465" r="31.6" fill="none" stroke-width="1"/>
                            <path class="cls-5" d="M74.49,53.66a31.53,31.53,0,1,0-61.43-10" transform="translate(543.6,0)"/>
                            <circle class="cls-6" cx="556.426" cy="40.265" r="3.485"/>
                            <line class="cls-7" x1="553.266" y1="40.6" x2="130" y2="40.6" />
                            <text class="new__matrix" x="0" y="30">MATRIX LED</text>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
        <!-- Third slide ends -->
    </div>
</section>
<!-- Third block ends -->