<section class="e-tron First-block full-page">
    <div class="page-identifier">
        <span>Audi Q7 e-tron</span>
    </div>
    <div class="main-text">
        <h4>Покорение Мира. Каждый день.</h4>
        <p>
            Расход топлива комбинированный: 1.8-1.9 л / 100 км;
            Выбросы CO2 от 48 до 50 г / km¹
            Спортивность, комфорт и эффективность: Audi Q7 е-tron quattro является первым в мире TDI гибридом с приводом quattro,
            а также первым гибридом с дизельным двигателем от Audi. Он разгоняется за 6,2 секунды от 0 до 100 км / ч,
            потребляя при этом всего 1,9 литра дизельного топлива на 100 км.
        </p>
    </div>
    <div class="car-container">
        <img src="css/images/etron-360-1.png" alt="">
        <span>Q7</span>
        <span class="etron-bg-text">e-tron</span>
        <div class="left-arrow"></div>
        <div class="right-arrow"></div>
        <div class="hand">
            <div class="previous-frame">«</div>
            <div class="next-frame">«</div>
        </div>
    </div>
    <div class="play">360&nbsp;<sup>°</sup></div>
    <div class="stop">360&nbsp;<sup>°</sup></div>
    <div class="threesixty car">
        <div class="spinner">
            <span>0%</span>
        </div>
        <ol class="threesixty_images"></ol>
    </div>
</section>
<!-- First block ends -->