<section class="Fourth-block full-page e-tron">
    <div class="page-identifier">
        <span>Audi Q7 e-tron</span>
    </div>
    <div class="Fourth-block__controls">
        <div class="numeration">
            <span class="Fourth-block__counter">1</span>
            <span class="Fourth-block__divider">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1.552cm" height="1.552cm">
                    <path  fill="rgb(255, 255, 255)"
                           d="M42.293,0.293 L43.707,1.707 L1.707,43.707 L0.293,42.293 L42.293,0.293 Z"/>
                </svg>
            </span>
            <sub>8</sub>
        </div>
        <div class="Fourth-block__left-arrow">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="0.423cm" height="0.635cm">
                <g>
                    <path fill="#777"
                          d="M12.003,15.825 L9.996,17.990 L2.093,11.083 L2.003,11.162 L1.317,10.405 L-0.003,9.251 L0.135,9.101 L-0.003,8.948 L1.635,7.484 L2.003,7.086 L2.042,7.119 L9.996,0.010 L12.003,2.224 L4.310,9.101 L12.003,15.825 Z"/>
                </g>
            </svg>
        </div>
        <div class="Fourth-block__right-arrow">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="0.423cm" height="0.635cm">
                <path fill="#777"
                      d="M11.865,9.101 L12.003,9.251 L10.683,10.405 L9.997,11.162 L9.907,11.083 L2.003,17.990 L-0.004,15.825 L7.690,9.101 L-0.004,2.224 L2.003,0.010 L9.958,7.119 L9.997,7.086 L10.366,7.484 L12.003,8.948 L11.865,9.101 Z"/>
            </svg>
        </div>
    </div>
    <div class="Fourth-block__vertical-controls">
        <div class="item">
            <span>безопасность</span>
        </div>
        <div class="item">
            <span>Расслабление. ЕЩЕ до прибытия</span>
        </div>
        <div class="item">
            <span>городской ассистентский пакет</span>
        </div>
        <div class="item">
            <span>городской ассистентский пакет</span>
        </div>
        <div class="item">
            <span>Ассистенский пакет для туров</span>
        </div>
        <div class="item">
            <span>Ассистенский пакет для туров</span>
        </div>
        <div class="item">
            <span>Пакет парковочного ассистента</span>
        </div>
        <div class="item">
            <span>Q7 е-tron quattro в повседневной жизни</span>
        </div>
    </div>
    <div class="Fourth-block__slider">
        <!-- First slide -->
        <div class="item first-slide etron">
            <img src="css/images/etron-mountains.jpg" alt="etron and mountains on background">
            <h4>Курс на безопасность!</h4>
            <p class="first-paragraph">
                Каждая поездка отличается. Но общеее для всех поездок ощущение, которое передают все Audi: Вы должны быть защищены.
                Электронные системы в Вашей новой Audi Q7 е-tron quattro помогут в путешествии и обеспечат еще больший комфорт в дороге.
            </p>
            <p class="second-paragraph">
                Например, интеллектуальная система эффективного расхода топлива намеренно снизит обороты двигателя при движении накатом,
                способствуя более экономичнуому стилю вождения.
            </p>
        </div>
        <!-- First slide ends -->
        <!-- Second slide -->
        <div class="item second-slide etron">
            <img src="css/images/etron-onroad-lights.jpg" alt="etron on road">
            <h4>Расслабление. Еще до прибытия</h4>
            <p class="first-paragraph">
                Ни одна другая модель в сегменте в настоящее время не предоставляет так много систем помощи водителю, такие как Audi Q7.
                Некоторые из них являются стандартным оборудованием, дополнительные решения либо индивидуально, либо в пакетах города,
                парковка и тур, пакет тур в сочетании прикосновение к навигации MMI плюс с MMI.
            </p>
            <p class="second-paragraph">
                Уже стандартная система информирования водителя приносит рекомендацию перерыв – анализирует поведение вождения
                и предупреждает водителя, когда ключи предлагая начинающееся невнимательность.
            </p>
            <p class="third-paragraph">
                Другие стандартные удобства начала помогать, круиз-контроль, регулируемый ограничитель скорости задней системой
                помощи при парковке и систем безопасности Audi предварительно смысле основной и Audi предварительного смысле город.
            </p>
        </div>
        <!-- Second slide ends -->
        <!-- Third slide -->
        <div class="item third-slide etron">
            <div class="video-block">
                <div class="video-container" data-slide="city-assistant">
                    <div class="video-container__video-wrapper">
                        <video src="videos/etron-city-assistant.mp4" poster="css/images/etron-city-assistant.jpg" data-slide="city-assistant"></video>
                    </div>
                    <svg class="video-controller" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
                        <circle class="inner-circle" cx="100" cy="100" r="38" fill="none" stroke-width="76" data-slide="city-assistant" />
                        <circle class="inner-circle__outline" cx="100" cy="100" r="76.8" />
                        <path class="play" d="M65,46.5L39,63V30Z" transform="translate(55 55)" />
                        <path class="pause" d="M39,36h4V57H39V36Zm11,0h4V57H50V36Z" transform="translate(55 55)" />
                    </svg>
                    <div class="progress">
                        <svg class="progress__play-status" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-slide="city-assistant">
                            <path d="m 2.5714275,0 0,24 9.4285695,-6.000001 0,-12 z m 9.4285695,5.999999 0,12 9.428576,-5.999998 0,0 z">
                                <animate class="progress__play-status--pause" begin="indefinite" fill="freeze" attributeName="d" dur="0.15s"
                                         to="m 1.714,0 0,24 6.857,0 0,-24 z m 13.715,0 0,24 6.857,0 0,-24 z" data-slide="city-assistant" />
                                <animate class="progress__play-status--play" begin="indefinite" fill="freeze" attributeName="d" dur="0.15s"
                                         to="m 2.5714275,0 0,24 9.4285695,-6.000001 0,-12 z m 9.4285695,5.999999 0,12 9.428576,-5.999998 0,0 z" data-slide="city-assistant" />
                            </path>
                        </svg>
                        <div class="progress__seekbar" data-slide="city-assistant">
                            <div data-slide="city-assistant" ></div>
                            <svg class="progress__seekbar--circle" viewBox="0 0 100 100" data-slide="city-assistant" >
                                <circle class="cls-1" cx="50" cy="50" r="50"/>
                                <circle class="cls-2" cx="50" cy="50" r="5"/>
                                <path class="cls-3" d="M50.016,25.938A24.031,24.031,0,1,1,26,49.969,24.023,24.023,0,0,1,50.016,25.938Z"/>
                            </svg>
                        </div>
                        <svg class="full-screen" viewBox="0 0 24 24" data-slide="city-assistant">
                            <path d="m 3.4285714,15.428571 -3.42857145,0 0,8.571429 8.57142905,0 0,-3.428571 -5.1428577,0 0,-5.142858 z M -5e-8,8.5714287 l 3.42857145,0 0,-5.1428573 5.1428577,0 L 8.5714291,0 -4.9999999e-8,0 l 0,8.5714287 z M 20.571428,20.571429 l -5.142857,0 0,3.428571 L 24,24 l 0,-8.571429 -3.428572,0 0,5.142858 z M 15.428571,2e-7 l 0,3.4285714 5.142857,0 0,5.1428571 3.428572,0 L 24,2e-7 l -8.571429,0 z">
                                <animate class="animation-to" begin="indefinite" fill="freeze" attributeName="d" dur="0.15s"
                                         to="m 5.0000001e-8,18.857143 5.14285695,0 0,5.142857 3.428572,0 0,-8.571429 -8.571428950000001,0 0,3.428572 z M 5.142857,5.1428572 l -5.14285695,0 0,3.4285714 8.571428949999999,0 0,-8.571428500000001 -3.428572,0 0,5.142857100000001 z M 15.428571,24 l 3.428572,0 0,-5.142857 5.142857,0 0,-3.428572 -8.571429,0 0,8.571429 z m 3.428572,-18.8571428 0,-5.1428571 -3.428572,0 0,8.5714285 8.571429,0 0,-3.4285714 -5.142857,0 z" data-slide="city-assistant" />
                                <animate class="animation-from" begin="indefinite" fill="freeze" attributeName="d" dur="0.15s" to="m 3.4285714,15.428571 -3.42857145,0 0,8.571429 8.57142905,0 0,-3.428571 -5.1428577,0 0,-5.142858 z M -5e-8,8.5714287 l 3.42857145,0 0,-5.1428573 5.1428577,0 L 8.5714291,0 -4.9999999e-8,0 l 0,8.5714287 z M 20.571428,20.571429 l -5.142857,0 0,3.428571 L 24,24 l 0,-8.571429 -3.428572,0 0,5.142858 z M 15.428571,2e-7 l 0,3.4285714 5.142857,0 0,5.1428571 3.428572,0 L 24,2e-7 l -8.571429,0 z" data-slide="city-assistant" />
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="text">
                <h4>Городской ассистентский пакет</h4>
                <div class="first-block">
                    <h5>Audi side assist</h5>
                    <p class="first-paragraph">
                        Ассистент смены полосы движения Audi Side Assist (также поставляется отдельно) представляет собой систему
                        пакета помощи города. Это избавляет водителя от 15 км скорости / ч при смене полосы движения, этого он
                        использует два задних радарных датчиков, умирают измерения около 70 ярдов. Если сами переехали на другое
                        транспортное средство в слепое пятно или быстро приближается, предупреждающий светодиод в корпусе
                        соответствующих наружных зеркал загорается.
                    </p>
                    <p class="second-paragraph">
                        Случаи, тем не менее, водитель активирует сигнал поворота, мигает светодиод неоднократно КОРОТКО
                        престолонаследия ад. Audi Side Assist соединен с системой DM Audi предварительного смысле сзади,
                        который инициирует превентивные защитные меры перед Эйнем надвигающиеся наезда сзади. Audi предварительно
                        чувство задний настолько активен в выключенном Audi стороне помощь в фоновом режиме, за исключением
                        операции прицепа.
                    </p>
                </div>
                <div class="second-block">
                    <h5>Предупреждение выхода</h5>
                    <p class="first-paragraph">
                        Предупреждение выход вступает в игру, как только Audi Q7 остановилась. Если теперь приближающиеся
                        транспортные средства и велосипеды сзади, предупреждение выхода предупреждает водителя и всех пассажиров
                        при открывании двери.
                    </p>
                    <p class="second-paragraph">
                        Система использует для светодиодного индикатора световода оптического пакета в дверях – мелькание
                        Светодиоды высокой мощности в воспринимаемой опасной ситуации на красный. После выключения зажигания,
                        предупреждающий выход остается в течение примерно трех минут в режиме ожидания.
                    </p>
                </div>
            </div>
        </div>
        <!-- Third slide ends -->
        <!-- Fourth slide -->
        <div class="item fourth-slide etron">
            <div class="video-block">
                <div class="video-container" data-slide="trailer-assistant">
                    <div class="video-container__video-wrapper">
                        <video src="videos/etron-trailer-assistant.mp4" poster="css/images/etron-trailer-assistant.jpg" data-slide="trailer-assistant"></video>
                    </div>
                    <svg class="video-controller" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
                        <circle class="inner-circle" cx="100" cy="100" r="38" fill="none" stroke-width="76" data-slide="trailer-assistant" />
                        <circle class="inner-circle__outline" cx="100" cy="100" r="76.8" />
                        <path class="play" d="M65,46.5L39,63V30Z" transform="translate(55 55)" />
                        <path class="pause" d="M39,36h4V57H39V36Zm11,0h4V57H50V36Z" transform="translate(55 55)" />
                    </svg>
                    <div class="progress">
                        <svg class="progress__play-status" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-slide="trailer-assistant">
                            <path d="m 2.5714275,0 0,24 9.4285695,-6.000001 0,-12 z m 9.4285695,5.999999 0,12 9.428576,-5.999998 0,0 z">
                                <animate class="progress__play-status--pause" begin="indefinite" fill="freeze" attributeName="d" dur="0.15s"
                                         to="m 1.714,0 0,24 6.857,0 0,-24 z m 13.715,0 0,24 6.857,0 0,-24 z" data-slide="trailer-assistant" />
                                <animate class="progress__play-status--play" begin="indefinite" fill="freeze" attributeName="d" dur="0.15s"
                                         to="m 2.5714275,0 0,24 9.4285695,-6.000001 0,-12 z m 9.4285695,5.999999 0,12 9.428576,-5.999998 0,0 z" data-slide="trailer-assistant" />
                            </path>
                        </svg>
                        <div class="progress__seekbar" data-slide="trailer-assistant">
                            <div data-slide="trailer-assistant" ></div>
                            <svg class="progress__seekbar--circle" viewBox="0 0 100 100" data-slide="trailer-assistant" >
                                <circle class="cls-1" cx="50" cy="50" r="50"/>
                                <circle class="cls-2" cx="50" cy="50" r="5"/>
                                <path class="cls-3" d="M50.016,25.938A24.031,24.031,0,1,1,26,49.969,24.023,24.023,0,0,1,50.016,25.938Z"/>
                            </svg>
                        </div>
                        <svg class="full-screen" viewBox="0 0 24 24" data-slide="trailer-assistant">
                            <path d="m 3.4285714,15.428571 -3.42857145,0 0,8.571429 8.57142905,0 0,-3.428571 -5.1428577,0 0,-5.142858 z M -5e-8,8.5714287 l 3.42857145,0 0,-5.1428573 5.1428577,0 L 8.5714291,0 -4.9999999e-8,0 l 0,8.5714287 z M 20.571428,20.571429 l -5.142857,0 0,3.428571 L 24,24 l 0,-8.571429 -3.428572,0 0,5.142858 z M 15.428571,2e-7 l 0,3.4285714 5.142857,0 0,5.1428571 3.428572,0 L 24,2e-7 l -8.571429,0 z">
                                <animate class="animation-to" begin="indefinite" fill="freeze" attributeName="d" dur="0.15s"
                                         to="m 5.0000001e-8,18.857143 5.14285695,0 0,5.142857 3.428572,0 0,-8.571429 -8.571428950000001,0 0,3.428572 z M 5.142857,5.1428572 l -5.14285695,0 0,3.4285714 8.571428949999999,0 0,-8.571428500000001 -3.428572,0 0,5.142857100000001 z M 15.428571,24 l 3.428572,0 0,-5.142857 5.142857,0 0,-3.428572 -8.571429,0 0,8.571429 z m 3.428572,-18.8571428 0,-5.1428571 -3.428572,0 0,8.5714285 8.571429,0 0,-3.4285714 -5.142857,0 z" data-slide="trailer-assistant" />
                                <animate class="animation-from" begin="indefinite" fill="freeze" attributeName="d" dur="0.15s" to="m 3.4285714,15.428571 -3.42857145,0 0,8.571429 8.57142905,0 0,-3.428571 -5.1428577,0 0,-5.142858 z M -5e-8,8.5714287 l 3.42857145,0 0,-5.1428573 5.1428577,0 L 8.5714291,0 -4.9999999e-8,0 l 0,8.5714287 z M 20.571428,20.571429 l -5.142857,0 0,3.428571 L 24,24 l 0,-8.571429 -3.428572,0 0,5.142858 z M 15.428571,2e-7 l 0,3.4285714 5.142857,0 0,5.1428571 3.428572,0 L 24,2e-7 l -8.571429,0 z" data-slide="trailer-assistant" />
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="text">
                <h4>Городской ассистентский пакет</h4>
                <div class="first-block">
                    <h5>Прицеп помощник</h5>
                    <p class="first-paragraph">
                        Когда новый Audi Q7 используется для буксировки прицепа, водитель может активировать мастер прицепа
                        при включении заднего маневрирование. Он просто должен вставить диапазон R и ввести осторожно газ.
                        С помощью управления дисковым / толчок в MMI он непрерывно, таким образом, ставит угол, под которым
                        он хочет отменить.
                    </p>
                    <p class="second-paragraph">
                        Если он хочет идти прямо, он стучит один раз на контроллере. Изображение камеры заднего вида
                        на мониторе MMI показывает его руководства в качестве руководства. Мастер прицеп предлагает рулевое колесо
                        и направил прицепа стабильной на выбранном курсе, что водитель управляет всей командой с кнопочным
                        управлением дисковым / из MMI.
                    </p>
                    <p class="third-paragraph">
                        Техническая база прицепа Волшебник вращаемый функции датчика в сцепного устройства – обнаружить угол
                        изгиба между тягачом и прицепом. водитель должен сделать систему на короткое время с вешалкой,
                        известной за рулем несколько ярдов с этим перед использованием. Мастер прицепа позволяет использовать
                        до десяти км скорости / ч. Если угол изгиба слишком велик, то система вызывает предупреждение
                        в случае чрезвычайной ситуации это замедляет.
                    </p>
                </div>
                <div class="second-block">
                    <h5>Пересечения помощник</h5>
                    <p class="first-paragraph">
                        Помощник пересечения предупреждает обратно с помощью заднего радарных датчиков водителю замедлить обратное,
                        например, при удалении выставить поперечное парковочное место перед другими, как критически признанных
                        транспортных средств. Заявление должно сортовой – визуально на мониторе MMI, акустически и, возможно,
                        с помощью предупреждения о толчке.
                    </p>
                    <p class="second-paragraph">
                        Две другие системы полного пакета помощи города – акустической и зрительной системы парковки плюс и камера
                        заднего вида. Оба также доступны по отдельности.
                    </p>
                </div>
            </div>
        </div>
        <!-- Fourth slide ends -->
        <!-- Fifth slide -->
        <div class="item fifth-slide etron">
            <div class="video-block">
                <h4>Ассистенский пакет для туров</h4>
                <div class="video-container" data-slide="trailer-assistant">
                    <div class="video-container__video-wrapper">
                        <video src="videos/etron-tour-assistant.mp4" poster="css/images/etron-tour-assistant.jpg" data-slide="tour-assistant"></video>
                    </div>
                    <svg class="video-controller" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
                        <circle class="inner-circle" cx="100" cy="100" r="38" fill="none" stroke-width="76" data-slide="tour-assistant" />
                        <circle class="inner-circle__outline" cx="100" cy="100" r="76.8" />
                        <path class="play" d="M65,46.5L39,63V30Z" transform="translate(55 55)" />
                        <path class="pause" d="M39,36h4V57H39V36Zm11,0h4V57H50V36Z" transform="translate(55 55)" />
                    </svg>
                    <div class="progress">
                        <svg class="progress__play-status" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-slide="tour-assistant">
                            <path d="m 2.5714275,0 0,24 9.4285695,-6.000001 0,-12 z m 9.4285695,5.999999 0,12 9.428576,-5.999998 0,0 z">
                                <animate class="progress__play-status--pause" begin="indefinite" fill="freeze" attributeName="d" dur="0.15s"
                                         to="m 1.714,0 0,24 6.857,0 0,-24 z m 13.715,0 0,24 6.857,0 0,-24 z" data-slide="tour-assistant" />
                                <animate class="progress__play-status--play" begin="indefinite" fill="freeze" attributeName="d" dur="0.15s"
                                         to="m 2.5714275,0 0,24 9.4285695,-6.000001 0,-12 z m 9.4285695,5.999999 0,12 9.428576,-5.999998 0,0 z" data-slide="tour-assistant" />
                            </path>
                        </svg>
                        <div class="progress__seekbar" data-slide="tour-assistant">
                            <div data-slide="tour-assistant" ></div>
                            <svg class="progress__seekbar--circle" viewBox="0 0 100 100" data-slide="tour-assistant" >
                                <circle class="cls-1" cx="50" cy="50" r="50"/>
                                <circle class="cls-2" cx="50" cy="50" r="5"/>
                                <path class="cls-3" d="M50.016,25.938A24.031,24.031,0,1,1,26,49.969,24.023,24.023,0,0,1,50.016,25.938Z"/>
                            </svg>
                        </div>
                        <svg class="full-screen" viewBox="0 0 24 24" data-slide="tour-assistant">
                            <path d="m 3.4285714,15.428571 -3.42857145,0 0,8.571429 8.57142905,0 0,-3.428571 -5.1428577,0 0,-5.142858 z M -5e-8,8.5714287 l 3.42857145,0 0,-5.1428573 5.1428577,0 L 8.5714291,0 -4.9999999e-8,0 l 0,8.5714287 z M 20.571428,20.571429 l -5.142857,0 0,3.428571 L 24,24 l 0,-8.571429 -3.428572,0 0,5.142858 z M 15.428571,2e-7 l 0,3.4285714 5.142857,0 0,5.1428571 3.428572,0 L 24,2e-7 l -8.571429,0 z">
                                <animate class="animation-to" begin="indefinite" fill="freeze" attributeName="d" dur="0.15s"
                                         to="m 5.0000001e-8,18.857143 5.14285695,0 0,5.142857 3.428572,0 0,-8.571429 -8.571428950000001,0 0,3.428572 z M 5.142857,5.1428572 l -5.14285695,0 0,3.4285714 8.571428949999999,0 0,-8.571428500000001 -3.428572,0 0,5.142857100000001 z M 15.428571,24 l 3.428572,0 0,-5.142857 5.142857,0 0,-3.428572 -8.571429,0 0,8.571429 z m 3.428572,-18.8571428 0,-5.1428571 -3.428572,0 0,8.5714285 8.571429,0 0,-3.4285714 -5.142857,0 z" data-slide="tour-assistant" />
                                <animate class="animation-from" begin="indefinite" fill="freeze" attributeName="d" dur="0.15s" to="m 3.4285714,15.428571 -3.42857145,0 0,8.571429 8.57142905,0 0,-3.428571 -5.1428577,0 0,-5.142858 z M -5e-8,8.5714287 l 3.42857145,0 0,-5.1428573 5.1428577,0 L 8.5714291,0 -4.9999999e-8,0 l 0,8.5714287 z M 20.571428,20.571429 l -5.142857,0 0,3.428571 L 24,24 l 0,-8.571429 -3.428572,0 0,5.142858 z M 15.428571,2e-7 l 0,3.4285714 5.142857,0 0,5.1428571 3.428572,0 L 24,2e-7 l -8.571429,0 z" data-slide="tour-assistant" />
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="text">
                <div class="first-block">
                    <h5>Адаптивный круиз контроль</h5>
                    <p class="first-paragraph">
                        В помощь путевке, адаптивный круиз-контроль (ACC) играет главную роль. Она держит новый Audi Q7 к впереди
                        идущего автомобиля, водитель может отрегулировать расстояние и динамику регулирования в несколько этапов.
                    </p>
                    <p class="second-paragraph">
                        Система, которая использует передний левый радарных датчиков в основном охватывает полный диапазон скоростей
                        от 0 до 250 км / ч. Его Stop & Go Функция снижает Q7 Audi в тупик и позволяет ему автоматически запускаться
                        снова по желанию водителя. Когда ACC выключен, он показывает скорости от 60 км/ч на расстояние до впереди
                        идущего автомобиля и предупреждает о впритык. Водитель может регулировать его желаемое расстояние.
                    </p>
                </div>
                <div class="second-block">
                    <h5>Ассистент гордского трафика</h5>
                    <p class="first-paragraph">
                        В диапазоне скоростей от 0 до 65 км / ч застревание ассистент движения, дальнейшее функцией адаптивного
                        круиз-контроля, принимать по хорошим дорогам, рулевое усилие до тех пор, как движение вязкой. Система
                        использует радарные датчики и видеокамеры. Он принимает автомобиль через нежный вмешательства и рулевого
                        управления следует забегающие столбец в границах системы.
                    </p>
                    <p class="second-paragraph">
                        Здесь помощник затор ориентирован на дорожную разметку и другие транспортные средства дороги. Если помощник
                        затор достигает своих границ системы – как будто растворяется варенье или плотный угол впереди него,
                        человек движущей задачей является вопросом для налоговой декларации. Поддерживающая предупреждает систему
                        в несколько этапов. В качестве крайней меры, она приносит большой внедорожник автоматически останавливается.
                    </p>
                </div>
                <div class="third-block">
                    <h5>Audi pre sense front</h5>
                    <p class="first-paragraph">
                        Вместе с адаптивным круиз-контролем является система безопасности Audi предварительно смысле передний на борту.
                        Это помогает избежать наезда и смягчения его последствий. В опасной ситуации, система предложит водителю
                        с дифференцированной системой предупреждения – с оптическими и звуковыми сигналами, а также тормозной
                        рывок – тормозить.
                    </p>
                    <p class="second-paragraph">
                        Реагирует не водителя, имеет место только автономную частичную задержку, а затем полной задержкой – при условии,
                        что движется передней части транспортного средства. Опять же, система подтягивает ремни безопасности
                        и инициирует действие предварительного смысловой основной. Audi предварительно смысле передний функционален
                        даже при включении адаптивного круиз-контроля.
                    </p>
                </div>
            </div>
        </div>
        <!-- Fifth slide ends -->
        <!-- Sixth slide -->
        <div class="item sixth-slide etron">
            <h4>Ассистенский пакет для туров</h4>
            <div class="text">
                <div class="left-block">
                    <h5>Ассистент прогнозирования эффективности</h5>
                    <div class="first-part">
                        <p>
                            Predictive Эффективность Assistant является еще одним новаторским система из пакета помощь туристам.
                            Она работает в тесном сотрудничестве с адаптивным круиз-контролем, навигационной системой MMI плюс
                            а (также упорядочиваема вне пакета) камеры на основе распознавания дорожных знаков.
                        </p>
                        <p>
                            Это соответствует предварительно выбранной скорости автоматически к условиям –
                            в диапазоне топографии, ограничения скорости и движения вперед участников.
                            Predictive Эффективность Assistant использует – даже с указания маршрута неактивен – данные маршрута
                            для оповещения водителя в ситуациях, когда он должен с пользой замедлить темп.
                        </p>
                        <p>
                            Он признает кривые, окольные и перекрестки, градиентные секции, населенные пункты или знаки ограничения
                            скорости – во многих случаях задолго до того, водитель их видит. то в комбинации приборов или в Audi
                            виртуальной кабине появляется соответствующее сообщение.
                        </p>
                    </div>
                    <div class="second-part">
                        <p>
                            Если ассистент экран активен, дифференцированные графики можно увидеть. Если водитель желает,
                            система регулирует авторотации от Tiptronic с восемью скоростями при определенных условиях
                            (с точки зрения скорости и положения педали акселератора градиента) сам по себе, новый Audi Q7
                            затем катится к ограничению скорости на холостом ходу.
                        </p>
                        <p>
                            Режим выбега активируется только тогда, когда это может занять несколько секунд. После того,
                            как это заканчивается, внедорожник ускоряется снова автоматически до требуемой скорости, выбранной,
                            при условии, что АСС активируется. С этой высокой сетевой интеллект Predictive эффективности Assistant
                            имеет потенциал для снижения на магистралях повышает эффективность использования топлива до десяти
                            процентов.
                        </p>
                    </div>
                </div>
                <div class="right-block">
                    <h5>Другие системы</h5>
                    <div class="first-part">
                        <p>
                            От 65 км / ч скорость поддерживается Ауди активная Lane Assist, дальнейшую систему пакета помощь туристам,
                            водителю оставаться на дорожке. Он наблюдал линии на дороге с видеокамерой, а также использует другие данные.
                            Когда новый Audi Q7 отметка приближается, не мигая, система помогает водителю с помощью мягкого
                            вмешательства в электромеханический усилитель рулевого управления, чтобы остаться на трассе.
                            Водитель может выбрать, хочет ли он быть непрерывным или незадолго поддерживается до пересечения
                            дорожной разметки его.
                        </p>
                        <p>
                            Если он решит принять раннее вмешательство, система ведет его в центре дорожки. Кроме того, рулевое
                            колесо вибрация регулируется. Audi активная Lane Assist доступна в виде одного варианта. Помощник
                            избегание и Blind Spot дополняют пакет помощь туристам. Помощник избегание помогает водителю,
                            когда новый Q7 должен объехать препятствие, чтобы избежать аварии.
                        </p>
                    </div>
                    <div class="second-part">
                        <p>
                            Использование данных с видеокамеры и радарных датчиков он мгновенно вычисляет подходящую дорожку,
                            она включает в себя расстояние, ширину и смещение предыдущего транспортного средства. Его первое
                            действие является предупреждением толчке, который предупреждает водителя на опасность. После того,
                            как он рисует сейчас, система с вмешательством крутящего момента помогает ему в системе усилителя
                            рулевого управления для управления препятствием.
                        </p>
                        <p>
                            Запирающий мониторы при повороте налево на низкой скорости встречного движения. В опасной ситуации,
                            он замедляет Q7 к остановке. Это взаимодействие приводит к тому, Audi Q7 проводится в той же полосе.
                            Система активна на скорости от двух до десяти км / ч, когда водитель активирует сигнал поворота,
                            чтобы повернуть налево.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sixth slide ends -->
        <!-- Seventh slide -->
        <div class="item seventh-slide etron">
            <img src="css/images/etron-onroad-lights2.jpg" alt="etron on road">
            <div class="text">
                <h4>Пакет парковочного ассистента</h4>
                <p class="first-paragraph">
                    Она включает в себя систему помощи при парковке (также можно приобрести отдельно), почти автоматически направляет
                    новый Audi Q7 с помощью двенадцати ультразвуковых датчиков в продольном и перпендикулярных парковочных мест
                    и из параллельных мест для стоянки автомобилей также ausparkt снова. Кроме того, включать окружающие камеры к пакету.
                </p>
                <p class="second-paragraph">
                    Точка с MMI контролировать различные мнения в непосредственной близости от автомобиля, в том числе виртуальных
                    вид сверху и 180 градусов изображение передней и задней. В непредсказуемых выходов или же в сочетании с кросс
                    ассистентом движения за они очень полезны
                </p>
            </div>
        </div>
        <!-- Seventh slide ends -->
        <!-- Eighth slide -->
        <div class="item eighth-slide etron">
            <div class="left-image shaped"></div>
            <div class="right-image"></div>
            <div class="heading">
                <span class="first-line">Q7 е-tron quattro</span>
                <span class="second-line">в повседневной жизни</span>
            </div>
            <p>
                Возможность заряжать аккумулятор даже от привычной бытовой сети делает автомобиль еще более
                привлекательным в использовании.
            </p>
        </div>
        <!-- Eighth slide ends -->
    </div>
</section>
<!-- Fourth block ends -->