<header class="Header full-page">
    <div class="top-panel">
        <span><a href="index.html">Q7</a></span>
        <a href="http://audi-kiev.com.ua/ru/" target="_blank" class="logo">
            <svg viewBox="0 0 90 30">
                <circle cx="15" cy="15"
                        fill="transparent" stroke="#fff" stroke-width="4" />
                <circle cx="34" cy="15"
                        fill="transparent" stroke="#fff" stroke-width="4" />
                <circle cx="53" cy="15"
                        fill="transparent" stroke="#fff" stroke-width="4" />
                <circle cx="72" cy="15"
                        fill="transparent" stroke="#fff" stroke-width="4" />
            </svg>
            <p>
                <span>Audi</span>
                Центр Киев Юг
            </p>
        </a>
    </div>
    <div class="slider">
        <div class="item">
            <div class="quattro e-tron car"></div>
            <div class="car-model">
                <h3>Audi Q7 e-tron quattro</h3>
                <span>Покорение Мира. Каждый день.</span>
            </div>
        </div>
    </div>
</header>
<!-- Header ends -->