<section class="Second-block full-page e-tron">
    <div class="page-identifier">
        <span>Audi Q7 e-tron</span>
    </div>
    <div class="video-container">
        <video src="videos/etron_11.mp4" poster="css/images/e-tron_second-block-11.jpg"></video>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
            <circle class="inner-circle" cx="50%" cy="50%" r="23" fill="none" stroke-width="46"/>
            <circle class="inner-circle__outline" cx="100" cy="100" r="45.6" />
            <path class="play" d="M65,46.5L39,63V30Z" transform="translate(55 55)" />
            <path class="pause" d="M39,36h4V57H39V36Zm11,0h4V57H50V36Z" transform="translate(55 55)" />
            <circle class="big-circle__outline" cx="100" cy="100" r="80" />
        </svg>
    </div>
    <div class="controls">
        <div class="body-color">
            <div class="body-color__item">
                <img src="css/images/etron_body-color1.jpg" alt="body color first item">
            </div>
            <div class="body-color__item">
                <img src="css/images/etron_body-color2.jpg" alt="body color second item">
            </div>
            <div class="body-color__item">
                <img src="css/images/etron_body-color3.jpg" alt="body color third item">
            </div>
            <div class="body-color__item">
                <img src="css/images/etron_body-color4.jpg" alt="body color fourth item">
            </div>
            <div class="body-color__item">
                <img src="css/images/etron_body-color5.jpg" alt="body color fifth item">
            </div>
        </div>
        <div class="wheels">
            <div class="wheels__item etron wheels__item--first"></div>
            <div class="wheels__item etron wheels__item--second"></div>
        </div>
    </div>
</section>
<!-- Second block ends -->