<section class="Third-block full-page">
    <div class="page-identifier">
        <span>Audi Q7 e-tron</span>
    </div>
    <div class="Third-block__controls">
        <div class="numeration">
            <span class="Third-block__counter">1</span>
            <span class="Third-block__divider">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1.552cm" height="1.552cm">
                    <path  fill="rgb(255, 255, 255)"
                           d="M42.293,0.293 L43.707,1.707 L1.707,43.707 L0.293,42.293 L42.293,0.293 Z"/>
                </svg>
            </span>
            <sub>6</sub>
        </div>
        <div class="Third-block__left-arrow">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="0.423cm" height="0.635cm">
                <g>
                    <path fill="#777"
                          d="M12.003,15.825 L9.996,17.990 L2.093,11.083 L2.003,11.162 L1.317,10.405 L-0.003,9.251 L0.135,9.101 L-0.003,8.948 L1.635,7.484 L2.003,7.086 L2.042,7.119 L9.996,0.010 L12.003,2.224 L4.310,9.101 L12.003,15.825 Z"/>
                </g>
            </svg>
        </div>
        <div class="Third-block__right-arrow">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="0.423cm" height="0.635cm">
                <path fill="#777"
                      d="M11.865,9.101 L12.003,9.251 L10.683,10.405 L9.997,11.162 L9.907,11.083 L2.003,17.990 L-0.004,15.825 L7.690,9.101 L-0.004,2.224 L2.003,0.010 L9.958,7.119 L9.997,7.086 L10.366,7.484 L12.003,8.948 L11.865,9.101 Z"/>
            </svg>
        </div>
    </div>
    <div class="Third-block__vertical-controls">
        <div class="item">
            <span>Галерея</span>
        </div>
        <div class="item">
            <span>тихий и экологичный</span>
        </div>
        <div class="item">
            <span>Звуки природы</span>
        </div>
        <div class="item">
            <span>гибридный внедорожник</span>
        </div>
        <div class="item">
            <span>Звуки природы</span>
        </div>
        <div class="item">
            <span>интеллект Audi Q7 е-tron quattro</span>
        </div>
    </div>
    <div class="Third-block__slider etron">
        <!-- First slide -->
        <div class="items first-slide etron">
            <div class="photo-item">
                <img class="first-photo" src="css/images/etron-side-view2.jpg" alt="etron side view photo">
            </div>
            <div class="photo-item">
                <img class="second-photo" src="css/images/etron-backward-view.jpg" alt="etron backward view photo">
            </div>
            <div class="photo-item">
                <img class="third-photo" src="css/images/etron-side-view.jpg" alt="etron another side view photo">
            </div>
            <div class="photo-item">
                <img class="fourth-photo" src="css/images/etron-front-view.jpg" alt="sq7 front view photo">
            </div>
            <div class="underlay"></div>
        </div>
        <!-- First slide ends -->
        <!-- Second slide -->
        <div class="items second-slide etron">
            <img src="css/images/etron-nature.jpg" alt="etron in the forest">
            <div class="text">
                <h4>Тихий и экологичный</h4>
                <p class="first-paragraph">
                    Audi Q7 е-tron quattro благодаря гибридной технологии сочетает в себе преимущества электрического вождения
                    с возможностями комфортного внедорожника.
                </p>
            </div>
        </div>
        <!-- Second slide ends -->
        <!-- Third slide -->
        <div class="items third-slide etron">
            <div class="container">
                <div class="shaped"></div>
                <div class="content">
                    <h4>Звуки природы</h4>
                    <p class="first-paragraph">
                        Audi Q7 е-Tron Quattro благодаря гибридной технологии сочетает в себе преимущества электрического
                        вождения с возможностями комфортного внедорожника.
                    </p>
                    <p class="second-paragraph">
                        В отличие от города, природа кажется мирным – почти беззвучный. Тихие звуки
                        слышны только если вы остановятся. Шелест листьев на дереве, например:
                        от 10 до 20 децибел может быть успокаивающий звук.
                        Сопоставимые до шепота.
                    </p>
                    <p class="third-paragraph">
                        Ветер захватывающее явление. Если ветер к неподвижному объекту, например,
                        как дерево, применяется и вынужден тянуть объект, создает вихрь. Сопостави-
                        мые с завихрением в воде. В такой водоворот воздух слегка расширяется от,
                        давление воздуха является низким и распространение воздуха обеспе-
                        чивает импульс. Если число этих импульсов поражает наши уши,
                        мы берем ветер выл, как верно. Мы слышим ветер, но не может
                        его видеть. Мы видим его последствия, взвешивая деревья,
                        рябь на воде.
                    </p>
                    <p class="fourth-paragraph">
                        С помощью электрических машин, есть как раз наоборот:
                        вы можете видеть движение ясно, и все же едва слышал.
                        Ни один звонкий гул, ни один тонкий Грохот поршней
                        в цилиндрах не идут вверх и вниз.
                    </p>
                </div>
            </div>
        </div>
        <!-- Third slide ends -->
        <!-- Fourth slide -->
        <div class="items fourth-slide etron">
            <div class="container">
                <div class="container">
                    <div class="shaped"></div>
                    <div class="content">
                        <p class="first-paragraph">
                            Когда Audi Q7 е-Tron Quattro 3.0 TDI, первый плагин в мире гибридный внедорожник с TDI и Quattro привод,
                            может уведомление непосредственно при запуске. Это имеет меньше обычной сложной звукоизоляции,
                            но при мощной батареей высокого напряжения, что делает Audi Q7 е-Tron Quattro.
                        </p>
                        <p class="second-paragraph">
                            Закалка не слышал только один раз: ничего. На каждом холодном пуске,
                            если состояние заряда батареи позволяет часть системы первого автоматического
                            режима EV (электрических транспортных средств), выбранных. один остается в режиме,
                            Audi Q7 е-Tron Quattro приходит чисто электрически до 56 километров.
                        </p>
                        <p class="third-paragraph">
                            Запись для плагина в гибридных транспортных средств. Это стало возможным с помощью 168 батарейных клеток, сгруппированных в ионно-литиевого блока с жидкостным охлаждением мощностью 17.3 кВт
                            и установленных под стволом. Тем не менее, объем багажника остается непревзойденной с максимальным 1,835 литров в прямом сравнении конкуренции.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fourth slide ends -->
        <!-- Fifth slide -->
        <div class="items fifth-slide etron">
            <div class="container">
                <div class="shaped"></div>
                <div class="content">
                    <p class="first-paragraph">
                        Но есть еще один способ: природа имеет много аспектов звука. Звук горного потока может быть до 70 децибел.
                        Многое, как кричали. Под водой, звук перемещается по пути в четыре раза быстрее, чем в воздухе.
                        Это для водителя, какой режим – EV, гибридные или батареи держать, – продолжает он, делая вид системы.
                        В гибридном режиме, электронная система управления автоматически вычисляет взаимодействие между
                        190 кВт (258 л.с.) с шестью цилиндрами TDI и 94 кВт (128 л.с.) электрический двигатель с максимальной
                        эффективностью. После ввода пункта назначения в навигационной системе является идеальной операционной
                        стратегии – электрическая, hybridisch или жжения мощность – автоматически вычисляется и точно регулировать
                        движущую историю.
                    </p>
                    <p class="second-paragraph">
                        Даже после активации адаптивного круиз-контроля (ACC). Затем разгоняет внедорожник до заранее выбранной скорости
                        и держит их не только, но с задержкой в ​​странах с достаточной плотностью навигационных данных благодарности
                        Predictive эффективности Assistant в рамках системы автоматически перед началом ограничения скорости,
                        градиент или тугой угол к позади снова ускорить. Оптической обратной связи обеспечивает вид дисплея
                        потока энергии на дисплее MMI или измеритель мощности или тахометр в стандартной Audi виртуальной кабины.
                    </p>
                    <p class="third-paragraph">
                        Так что в любое время вы можете увидеть, если только только TDI или только электродвигатель, или оба вместе
                        обеспечивают двигательной установки. Активный ускоритель обеспечивает тактильную обратную связь.
                        Если вы идете электрический, средствами сигнализации в зависимости от состояния заряда
                        батареи, первой точки давления, начиная с момента, когда TDI будет переключаться. Если педаль акселератора
                        нажата с помощью второй точки давления, так что функция наддува активирована,
                        передается на восемь-ступенчатой Tiptronic в обеих машинах с полной выходной мощностью
                        системы 275 кВт (373 л.с.). Тогда на самом деле раз проникает сдержанный ропот
                        от двигателя к интерьеру.
                    </p>
                    <p class="fourth-paragraph">
                        Всего за 6,2 секунды, Audi Q7 е-Tron Quattro может ускоряться до 100 км / ч. Если водитель убирает ногу
                        с педали акселератора снова осторожно, скорость двигателя падает маршрут уровня на
                        холостой уровень в то время как транспортное средство с функцией парусной использует существующий
                        импульс и откатился квази авторотации. В сочетании с дальновидными
                        вождения Audi Q7 е-Tron Quattro задерживается каналы обратно через E-машины,
                        работающей в режиме толчка в качестве генератора и тем самым приобрел мощность батареи.
                        Максимальная скорость 230 км / ч достиг Audi Q7 е-Tron Quattro.
                        Даже гораздо раньше занимает по физике, полк, что мы слышим в машине.
                    </p>
                </div>
            </div>
        </div>
        <!-- Fifth slide ends -->
        <!-- Sixth slide -->
        <div class="items sixth-slide etron">
            <img src="css/images/etron-onroad.jpg" alt="etron onroad">
            <div class="heading">
                <span class="first-line">Гибридная стратегия и эффективный</span>
                <span class="second-line">интеллектуальный помощник</span>
            </div>
            <p>
                Новый Audi Q7 е-tron quattro обладает сильным интеллектом, особенно в отношении оптимизации расхода топлива.
                Этот автомобиль являеться трехкратным победителем 24-часывх гонок Ле-Ман.
            </p>
        </div>
        <!-- Sixth slide ends -->
    </div>
</section>
<!-- Third block ends -->