@font-face {
    font-family: 'Audi';
    src: url('fonts/AudiType-ExtendedNormal.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Audi';
    src: url('fonts/AudiType-ExtendedBold.ttf');
    font-style: normal;
    font-weight: bold;
}