$colorWhite: #fff;
$colorGrey: #999;
$colorMainGrey: #444;
$colorGrey2: #676767;
$colorViolet: #181723;
$colorPink: #e1144c;
$colorDarkPink: #d51449;
$colorRed: #ff144c;
$colorDarkBlue: #070519;
$colorDarkGrey: #393747;
$colorLightGrey: #7a7a7b;
$colorBrightPink: #dc1c52;
$colorLightenGrey: #969595;
$colorDarkenGrey: #797979;
$colorBrightenPink: #f16c92;
$colorBrightenPink2: #ef6397;
$colorBrightRed: #de1b50;
$colorLightPink: #f06299;
$colorLightPink2: #f16c91;
$colorDarkRed: #de1c4e;
$colorDarkRed2: #dd1c51;
$colorDarkRed3: #dd1c4f;
$colorBlue: #0057FF;

body {
    background: $colorViolet;
    color: $colorWhite;
    font-family: 'Audi', Arial, Helvetica, sans-serif;
}
